<div class="r_guide">
	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【热卖】的链接地址 ★ ★ ★'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2Q1SFXeFXXXXXXXXX_!!446388887.jpg" alt=""></a>

	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【新品】的链接地址 ★ ★ ★'}]" style="padding: 0 7px 0 7px;"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nu1FXclXXXXXXXXX_!!446388887.jpg" alt=""></a>

	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【特价】的链接地址 ★ ★ ★'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2r11FXcdXXXXXXXXX_!!446388887.jpg" alt=""></a>
</div>