<div class="dhm_t_block">
	<div><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2IH8tXflNXXXXXXXX_!!446388887.gif" /></div>
	<div class="dhm_gg_bg">
		<div class="dhm_gg">
			<marquee direction="up" scrollamount="2" height="135" width="525">
				<font data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">   	为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！</font>
			</marquee>
		</div>
		<div class="dhm_gg_list dmh_g1">
			<ul>
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝1的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2A2KeXfFXXXXXXXXX_!!446388887.gif" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝1的图片地址，图片尺寸大小为130X165'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝1的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝1的价格'}]">一口价：99.00</div>
				</li>
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝2的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2r2KeXfRXXXXXXXXX_!!446388887.gif" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝2的图片地址，图片尺寸大小为130X165'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝2的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝2的价格'}]">一口价：99.00</div>
				</li>
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝3的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2A2KeXfFXXXXXXXXX_!!446388887.gif" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝3的图片地址，图片尺寸大小为130X165'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝3的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝3的价格'}]">一口价：99.00</div>
				</li>
			</ul>
		</div>
		<div class="dhm_hd">
			<ul>
				<li>
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 店铺活动1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 店铺活动1的标题'}]">亲们，本店铺全场打五折，而且还包邮哦！~</a>
				</li>
				<li>
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 店铺活动2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 店铺活动2的标题'}]">亲们，本店铺全场打五折，而且还包邮哦！~</a>
				</li>
				<li>
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 店铺活动3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 店铺活动3的标题'}]">亲们，本店铺全场打五折，而且还包邮哦！~</a>
				</li>
				<li>
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 店铺活动4的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 店铺活动4的标题'}]">亲们，本店铺全场打五折，而且还包邮哦！~</a>
				</li>
			</ul>
		</div>
	</div>
</div>