<div class="J_TWidget m_slide_banner_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
	<ul class="ks-switchable-content">
		<li>
			<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝购买页地址★★★'}]">
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【1】的图片地址，尺寸大小为190x450★★★'}]" />
			</a>
			<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝标题★★★'}]">潮流春装</p>
		</li>
		<li>
			<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝购买页地址★★★'}]">
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【2】的图片地址，尺寸大小为190x450★★★'}]" />
			</a>
			<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝标题★★★'}]">潮流夏装</p>
		</li>
		<li>
			<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝购买页地址★★★'}]">
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【3】的图片地址，尺寸大小为190x450★★★'}]" />
			</a>
			<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝标题★★★'}]">潮流秋装</p>
		</li>
		<li>
			<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝购买页地址★★★'}]">
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【4】的图片地址，尺寸大小为190x450★★★'}]" />
			</a>
			<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝标题★★★'}]">潮流冬装</p>
		</li>
	</ul>
</div>