<table width="100%">
	<tbody>
		<tr>
			<td>
				<div class="J_TWidget m_slide_banner_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
					<ul class="ks-switchable-content">
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝购买页地址★★★'}]">
								<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【1】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝标题★★★'}]">潮流春装</p>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝购买页地址★★★'}]">
								<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【2】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝标题★★★'}]">潮流夏装</p>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝购买页地址★★★'}]">
								<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【3】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝标题★★★'}]">潮流秋装</p>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝购买页地址★★★'}]">
								<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T29tNXXiJNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【4】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝标题★★★'}]">潮流冬装</p>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="shoucang" style="margin: 10px 0;">
					<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★新品推荐的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2_zNaXhlNXXXXXXXX_!!446388887.jpg" alt=""></a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="gezi gezi_le">
					<div class="a">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝1的标题'}]">
							<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2c.RuXmNMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为160x160'}]">
						</a>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="background: url(http://img03.taobaocdn.com/imgextra/i3/T1QraBXdd0XXcpU0s2-446388887.jpg) no-repeat scroll right top transparent; color: #fff; font-size: 18px; font-weight: bold; height: 50px; line-height: 50px; text-indent: 10px; margin: 10px 0 0 0;">客服区</div>
				<div style="height: 163px; overflow: hidden; margin: 0 0 10px;">
					<table width="100%" style="border-spacing: 8px;">
						<tbody>
							<tr>
								<td>
									<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vYRbXhVNXXXXXXXX_!!446388887.jpg" alt="">
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vYRbXhVNXXXXXXXX_!!446388887.jpg" alt="">
								</td>
								<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									电话：13333333333
								</td>
							</tr>
							<tr>
								<td>
									<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vYRbXhVNXXXXXXXX_!!446388887.jpg" alt="">
								</td>
								<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									在线：9:00 AM -- 23:00 PM
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="background: url(http://img03.taobaocdn.com/imgextra/i3/T1QraBXdd0XXcpU0s2-446388887.jpg) no-repeat scroll right top transparent; color: #fff; font-size: 18px; font-weight: bold; height: 50px; line-height: 50px; text-indent: 10px;">新品区</div>
				<ul class="xinpinqu xinpinqu_left">
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
							<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2XH0XXiXNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为190x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
							<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2SrllXn0MXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为190x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]">
							<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2XH0XXiXNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为190x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>