<div class="dhm_ssn">
	<div class="dhm_gg">
		<marquee direction="up" scrollamount="2" height="170" width="235">
			<font data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">   	为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！</font>
		</marquee>
	</div>
</div>

<div class="dhm_3ge" style="margin: 10px 0;">
	<a href="#" target="_blank" class="new" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 最新上架的地址'}]"></a>
	<a href="#" target="_blank" class="miao" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 秒杀专区的地址'}]"></a>
	<a href="#" target="_blank" class="remai" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝的地址'}]"></a>
</div>

<div class="dhm_tujian">
	<ul>
        <li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝1的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2PoGgXctaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝1的图片地址，图片尺寸大小为160X160'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝1的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝1的价格'}]">8999.00</div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝2的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2TEGgXcpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝2的图片地址，图片尺寸大小为160X160'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝2的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝2的价格'}]">8999.00</div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝3的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2PoGgXctaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝3的图片地址，图片尺寸大小为160X160'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝3的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝3的价格'}]">8999.00</div>
        </li>
	</ul>
</div>

<div class="dhm_gglh" style="margin: 10px 0 0;">

	<div  class="J_TWidget scroll-news" data-widget-type="Slide" 
data-widget-config="{'contentCls':'news-items','hasTriggers':false,'effect':'scrolly','easing':'easeOutStrong','interval':3,'duration':0.2}">
		<ul class="news-items">
			<li><a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播文字1的链接地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 轮播文字1的标题'}]">轮播文字在这里啊在这里</a></li>
			<li><a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播文字2的链接地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 轮播文字2的标题'}]">轮播文字在这里啊 hi</a></li>
			<li><a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播文字3的链接地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 轮播文字3的标题'}]">轮播文字在这里啊在这里</a></li>
		</ul>
	</div>

	<div class="J_TWidget dm_slide_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
		<ul class="ks-switchable-content">
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【1】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【1】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【2】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【2】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【3】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【3】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【4】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【4】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【5】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【5】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
		</ul>
	</div>
</div>