/* global */
.dhm_pr {
	position: relative;
}
.dhm_pa {
	position: absolute;
}
.dhm_fix {
	position: fixed;
}
.tb-shop a {
	color: #8F7155;
}
.tb-shop a:hover {
	color: #f00;
	text-decoration: none;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
.shop-list .item .pic {
	border: 2px solid #794919;
}
.shop-list .item .pic:hover {
	border: 2px solid #f00;
}

/* header */
.tb-shop .main-wrap .box .shop-banner .bd {
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2oaNEXelMXXXXXXXX_!!446388887.jpg) no-repeat 0 0;
	margin: 0;
	padding: 0;
	width: 950px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary {
	left: 15px;
	top: 25px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-logo {
	display: none;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title {
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a {
	color: #A62C05;
	font-size: 34px;
} 
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a:hover {
	text-decoration: underline;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title p {
	color: #252525;
	font-weight: bold;
	padding: 10px 0 0 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav {
	height: 35px;
	overflow: hidden;
	background: none;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul {
	background: #8F7155;
	height: 35px;
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li {
	background: none;
	height: 35px;
	width: 110px;
	border-left: 2px solid #fff;
	padding: 0;
	margin: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a {
	background: none;
	display: block;
	height: 35px;
	width: 110px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a em {
	background: #8F7155;
	color: #fff;
	font-size: 12px;
	display: block;
	height: 35px;
	width: 110px;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 34px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover {
	background: #AC2D00;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a em,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover em {
	color: #fff;
	background: #AC2D00;
}
.cat-items {
	border: 1px solid #AC2D00;
	padding: 0;
	background: rgba(143, 113, 85, 0.8);
	*background: #8F7155;
	width: 700px;
	height: auto;
}
.cat-items .cat-all {
	background: none;
	padding: 5px 10px;
	color: #fff;
}
.cat-items .cat-all a {
	color: #000;
}
.cat-items .cat-all a:hover {
	color: #f00;
}
.cat-items .bd {
	padding: 5px 10px;
	background-position: 330px 0;
}
.cat-items .bd .cat-item {
	margin: 0 20px 20px 0;
	width: 320px;
}
.cat-items .bd .cat-item a {
	color: #171717;
}
.cat-items .bd .cat-item a:hover {
	color: #f00;
}

/* col-sub, col-main */
.tb-shop .col-sub .box，
.tb-shop .col-main .box {
	margin: 0 0 10px 0;
}
.tb-shop .col-sub .box .hd {
	height: 43px;
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2oJxrXaJNXXXXXXXX_!!446388887.jpg) repeat-x;
	border: none;
}
.tb-shop .col-main .box .hd {
	height: 43px;
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2oJxrXaJNXXXXXXXX_!!446388887.jpg) repeat-x;
	border: none;
}
.tb-shop .col-sub .box .hd h3 {
	height: 43px;
	width: 190px;
	margin: 0;
	padding: 0;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2nHNuXfVNXXXXXXXX_!!446388887.jpg) no-repeat right top;
}
.tb-shop .col-main .box .hd h3 {
	height: 43px;
	width: 750px;
	margin: 0;
	padding: 0;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2nHNuXfVNXXXXXXXX_!!446388887.jpg) no-repeat right top;
}
.tb-shop .col-sub .box .hd span {
	height: 43px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 42px;
	padding: 0;
	font-size: 16px;
	color: #FFFFFD;
	font-weight: bold;
	text-indent: 10px;
}
.tb-shop .col-main .box .hd span{
	height: 43px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 42px;
	padding: 0;
	font-size: 16px;
	color: #FFFFFD;
	font-weight: bold;
	text-indent: 10px;
}
.tb-shop .col-sub .box .bd,
.tb-shop .col-main .box .bd {
	border: none;
	background: #fff;
	margin: 0;
	padding: 0;
}

/* category */
.tb-shop .box .shop-category .bd {
	padding: 10px 0;
}
.tb-shop .box .shop-category .bd ul.cats {
	margin: 0;
	padding: 0;
	width: 190px;
}
.tb-shop .box .shop-category .bd ul li {
	border: none;
	padding: 0;
	margin: 0;
	width: 190px;
	background: none;
}
.tb-shop .box .shop-category .bd ul li.expand {
	background: none;
}
.tb-shop .box .shop-category .bd ul li h4 {
	background: none;
	margin: 0 0 4px 0;
	padding: 0;
}
.tb-shop .box .shop-category .bd ul li h4 a {
	display: block;
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2pylqXbBNXXXXXXXX_!!446388887.png) no-repeat;
	width: 190px;
	height: 33px;
	color: #fff;
	line-height: 32px;
	text-indent: 40px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}
.tb-shop .box .shop-category .bd ul li h4 a:hover {
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2pylqXbBNXXXXXXXX_!!446388887.png) no-repeat 0 -40px;
}
.tb-shop .box .shop-category .bd ul li.expand h4 a {
	
}
.tb-shop .box .shop-category .bd ul li.expand h4 a:hover {

}
.tb-shop .box .shop-category .bd ul li.expand ul {
	margin: 0 0 4px 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li {
	padding: 0;
	margin: 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a {
	display: block;
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2pylqXbBNXXXXXXXX_!!446388887.png) no-repeat 0 -80px;
	width: 190px;
	height: 29px;
	color: #7D350F;
	line-height: 26px;
	text-indent: 40px;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a:hover {
	color: #f00;
}

/* goods price */
.shop-list li {
	background: #E6DAC2;
	padding: 20px 0;
}
.tb-shop .col-main .main-wrap .box .bd .small ul.shop-list li {
	margin: 0 8px 20px 6px;
	padding: 20px 4px 20px 0px;
}
.tb-shop .col-main .main-wrap .box .bd ul.shop-list li {
	margin: 0 3px 20px 6px;
	padding: 20px 2px 20px 0px;
}
.tb-shop .col-main .main-wrap .box .bd .big ul.shop-list li {
	margin: 0 5px 20px 4px;
	padding: 20px 10px 20px 8px;
}
.shop-list .item .price {
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2nI4FXcVNXXXXXXXX_!!446388887.jpg) no-repeat 20px 0;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
	padding: 0;
	margin: 5px 0 0 0;
}
.small .shop-list .item .price {
	background-position: 0 0;
}
.big .shop-list .item .price {
	background-position: 40px 0;
}
.shop-list .item .price span {
	display: none;
}
.shop-list .item .price strong {
	color: #C45923;
	font-weight: bold;
	display: block;
	text-indent: 65px;
}
.small .shop-list .item .price strong {
	text-indent: 55px;
}
.big .shop-list .item .price strong {
	text-indent: 55px;
}
.tb-shop .box .bd p.more-items {
	height: 40px;
}
.tb-shop .box .bd p.more-items a {
	display: block;
	background: #8F7155;
	border: none;
	width: 100px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0 20px 0 0;
	filter: alpha(opacity=100);
	-ms-filter: alpha(opacity=100);
}
.tb-shop .box .bd p.more-items a:hover {
	text-decoration: underline;
}

/* friends links */
.tb-shop .box .shop-links .bd {
	padding: 10px;
}
.tb-shop .box .shop-links .bd li {
	list-style: inside;
	margin: 0 0 3px;
}
.tb-shop .box .shop-links .bd li a {
	color: #000;
}
.tb-shop .box .shop-links .bd li a:hover {
	text-decoration: underline;
}

/* goods rank */
.tb-shop .box .shop-rank .bd {
	background: #E6DAC2;
}
.tb-shop .box .shop-rank .bd .rank-tab {
	padding: 15px 0 0 0;
}
.tb-shop .box .shop-rank .tab-nav {
	height: 28px;
}
.tb-shop .box .shop-rank .tab-nav li span {
	color: #fff;
}
.tb-shop .box .shop-rank .tab-nav li {
	background-color: #8F7155;
    border: 1px solid #8F7155;
}
.tb-shop .box .shop-rank .tab-nav .selected {
    background-color: #BD3D00;
    border: 1px solid #BD3D00;
}
.tb-shop .box .shop-rank .rank-panels {
	border-top: 1px solid #BD3D00;
}

/* shop-slider */
.tb-shop .box .shop-slider .bd {
	border: 2px solid #E0E0E0;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger {
	bottom: 10px;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger li {
	background-color: #8F7155;
	border: 1px solid #8F7155;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #fff;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger li.current {
	background: #BD3D00;
	border: 1px solid #BD3D00;
	color: #fff;
	font-weight: bold;
}

/* 
************************************************************************
************************************************************************
************************************************************************
 */
/* left-linkus */
.dhm_linkus {
	text-align: center;
	background: #E6DAC2;
	padding: 0 0 15px 0;
	color: #57452D;
	font-size: 14px;
	height: 439px;
	overflow: hidden;
}
.dhm_linkus .hm_hd {
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2oxpFXjFMXXXXXXXX_!!446388887.jpg) no-repeat;
	color: #FFFFFD;
    font-size: 16px;
    font-weight: bold;
    height: 43px;
    line-height: 42px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
    text-align: left;
}
.dhm_linkus ul {
	text-align: left;
	margin: 20px 10px 0;
	padding: 0;
}
.dhm_linkus ul li {
	border-bottom: 1px dashed #6A5C42;
	margin: 0 0 15px 0;
	padding: 0 0 0 5px;
}
.dhm_linkus ul li h3 {
	font-size: 14px;
	margin-bottom: 6px;
	color: #7F2105;
}
.dhm_linkus ul li p {
	margin: 0 0 5px 0;
}
.dhm_linkus .dm_favorite {
	padding: 0 0 10px 0;
}

/* dm_table_slide */
.dm_table_slide {
	width: 750px;
	height: 454px;
	overflow: hidden;
	background: #BEA374;
	position: relative;
}
.dm_table_slide ul.ks-switchable-content {
	position: absolute;
	left: 140px;
	top: 0;
	background: #fff;
	width: 470px;
	height: 454px;
	z-index: 100;
}
.dm_table_slide ul.ks-switchable-content li {
	width: 470px;
	height: 454px;
}
.dm_table_slide ul.ks-switchable-content li a {
	display: block;
	border: 2px solid #BEA473;
	width: 450px;
	height: 450px;
	margin: 0 0 0 8px;
	overflow: hidden;
	position: relative;
	z-index: 9999;
	background: #BEA473;
}
.dm_table_slide ul.ks-switchable-content li a:hover {
	border: 2px solid #f00;
}
.dm_table_slide ul.ks-switchable-content li .pic img {
	width: 450px;
	height: 450px;
}
.dm_table_slide ul.ks-switchable-content li .desc {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 410px;
	padding: 0 20px;
	overflow: hidden;
	line-height: 50px;
	background: rgba(190, 163, 116, 0.8);
	*background: #BEA374;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.dm_table_slide ul.ks-switchable-content li a:hover .desc {
	color: #f00;
}
.dm_table_slide ul.ks-switchable-nav {
	position: absolute;
	width: 750px;
	height: 454px;
	left: 0;
	top: 0;
	z-index: 90;
}
.dm_table_slide ul.ks-switchable-nav li {
	position: absolute;
	cursor: pointer;
}
.dm_table_slide ul.ks-switchable-nav li.one {
	left: 18px;
	top: 30px;
}
.dm_table_slide ul.ks-switchable-nav li.two {
	left: 18px;
	top: 170px;
}
.dm_table_slide ul.ks-switchable-nav li.three {
	left: 18px;
	top: 315px;
}
.dm_table_slide ul.ks-switchable-nav li.four {
	right: 18px;
	top: 30px;
}
.dm_table_slide ul.ks-switchable-nav li.five {
	right: 18px;
	top: 170px;
}
.dm_table_slide ul.ks-switchable-nav li.six {
	right: 18px;
	top: 315px;
}
.dm_table_slide ul.ks-switchable-nav li img {
	width: 100px;
	height: 100px;
	border: 2px solid #764A1B;
}
.dm_table_slide ul.ks-switchable-nav li.ks-active img {
	border: 2px solid #f00;
}