<div style="height: 163px; overflow: hidden;">
	<table width="100%" style="border-spacing: 8px;">
		<tbody>
			<tr>
				<td>
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vYRbXhVNXXXXXXXX_!!446388887.jpg" alt="">
				</td>
				<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
					客服小二：
				</td>
				<td>
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
					客服小二：
				</td>
				<td>
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
					客服小二：
				</td>
				<td>
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
					客服小二：
				</td>
				<td>
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
			<tr>
				<td>
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vYRbXhVNXXXXXXXX_!!446388887.jpg" alt="">
				</td>
				<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
					电话：13333333333
				</td>
			</tr>
			<tr>
				<td>
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vYRbXhVNXXXXXXXX_!!446388887.jpg" alt="">
				</td>
				<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
					在线：9:00 AM -- 23:00 PM
				</td>
			</tr>
		</tbody>
	</table>
</div>