/* global */
.m_pr {
	position: relative;
}
.m_pa {
	position: absolute;
}
.m_fixed {
	position: fixed;
}
.tb-shop {
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T24.FbXftNXXXXXXXX_!!446388887.jpg) repeat-x 0 100px;
}
.tb-shop a {
	color: #000;
}
.tb-shop a:hover {
	color: #f00;
	text-decoration: none;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
.shop-list .item .pic {
	border: 1px solid #fff;
}
.shop-list .item .pic:hover {
	border: 1px solid #000;
}

/* header */
.tb-shop .main-wrap .box .shop-banner .bd {
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2sZRXXfRNXXXXXXXX_!!446388887.jpg) no-repeat 0 0;
	margin: 0;
	padding: 0;
	width: 950px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary {
	left: 0;
	top: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-logo {
	display: none;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title {
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 {
	left: 485px;
    position: absolute;
    top: 45px;
    width: 440px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a {
	color: #000;
	font-size: 30px;
} 
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a:hover {
	text-decoration: underline;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title p {
	color: #5C5C5C;
    font-weight: bold;
    left: 0;
    padding: 10px 0 0;
    position: absolute;
    text-align: center;
    top: 80px;
    width: 950px;
    display: none;
}
.tb-shop .box .shop-banner .bd .shop-header .nav {
	height: 50px;
	overflow: hidden;
	background: none;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul {
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T24.FbXftNXXXXXXXX_!!446388887.jpg) repeat-x;
	height: 50px;
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li {
	background: none;
	height: 50px;
	width: 100px;
	padding: 0;
	margin: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a {
	background: none;
	display: block;
	height: 50px;
	width: 100px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a em {
	background: none;
	color: #fff;
	font-size: 14px;
	display: block;
	height: 50px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	line-height: 42px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover {
	text-decoration: underline;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a em,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover em {
	color: #fff;
}
.cat-items {
	border: 1px solid #000000;
	padding: 0;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2pndDXXVNXXXXXXXX_!!446388887.png) repeat;
	_background: #fff;
	width: 700px;
	height: auto;
}
.cat-items .cat-all {
	background: none;
	padding: 5px 10px;
	color: #fff;
}
.cat-items .cat-all a {
	color: #000;
}
.cat-items .cat-all a:hover {
	color: #f00;
}
.cat-items .bd {
	padding: 5px 10px;
	background-position: 330px 0;
}
.cat-items .bd .cat-item {
	margin: 0 20px 20px 0;
	width: 320px;
}
.cat-items .bd .cat-item a {
	color: #171717;
}
.cat-items .bd .cat-item a:hover {
	color: #f00;
}

/* col-sub, col-main */
.tb-shop .col-sub .box，
.tb-shop .col-main .box {
	margin: 0 0 10px 0;
}
.tb-shop .col-sub .box .hd {
	height: 50px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2tX0XXjhNXXXXXXXX_!!446388887.jpg) no-repeat right top;
	border: none;
}
.tb-shop .col-main .box .hd {
	height: 50px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2tX0XXjhNXXXXXXXX_!!446388887.jpg) no-repeat right top;
	border: none;
}
.tb-shop .col-sub .box .hd h3 {
	height: 50px;
	width: 190px;
	margin: 0;
	padding: 0;
	background: none;
}
.tb-shop .col-main .box .hd h3 {
	height: 50px;
	width: 750px;
	margin: 0;
	padding: 0;
	background: none;
}
.tb-shop .col-sub .box .hd span {
	height: 50px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 50px;
	padding: 0;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-indent: 10px;
}
.tb-shop .col-main .box .hd span{
	height: 50px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 50px;
	padding: 0;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-indent: 10px;
}
.tb-shop .col-sub .box .bd,
.tb-shop .col-main .box .bd {
	border: none;
	background: #fff;
	margin: 0;
	padding: 0;
}

/* category */
.tb-shop .box .shop-category .bd {
	padding: 10px 0;
}
.tb-shop .box .shop-category .bd ul.cats {
	margin: 0;
	padding: 0;
	width: 190px;
}
.tb-shop .box .shop-category .bd ul li {
	border: none;
	padding: 0 0 10px 0;
	width: 190px;
	background: none;
}
.tb-shop .box .shop-category .bd ul li.expand {
	background: none;
}
.tb-shop .box .shop-category .bd ul li h4 {
	background: none;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-category .bd ul li h4 a {
	display: block;
	background: #000;
	width: 190px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	overflow: hidden;
}
.tb-shop .box .shop-category .bd ul li h4 a:hover {
	text-decoration: underline;
}
.tb-shop .box .shop-category .bd ul li.expand h4 a {
	
}
.tb-shop .box .shop-category .bd ul li.expand h4 a:hover {

}
.tb-shop .box .shop-category .bd ul li.expand ul {
	margin: 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li {
	padding: 0 0 5px 0;
	margin: 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a {
	display: block;
	background: #fff;
	width: 190px;
	height: 38px;
	color: #000;
	line-height: 38px;
	border-bottom: 2px solid #000;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a:hover {
	border-bottom: 2px solid #f00;
	color: #000;
}

/* goods price */
.shop-list .item .price {
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2xpJXXgJNXXXXXXXX_!!446388887.jpg) no-repeat 45px 0;
	height: 18px;
	overflow: hidden;
	line-height: 18px;
	padding: 0;
	margin: 5px 0 0 0;
}
.small .shop-list .item .price {
	background-position: 30px 0;
}
.big .shop-list .item .price {
	background-position: 70px 0;
}
.shop-list .item .price span {
	display: none;
}
.shop-list .item .price strong {
	color: #000;
	font-weight: bold;
	display: block;
	text-indent: 40px;
}
.small .shop-list .item .price strong {
	text-indent: 40px;
}
.big .shop-list .item .price strong {
	text-indent: 35px;
}
.tb-shop .box .bd p.more-items {
	height: 40px;
	display: none;
}
.tb-shop .box .bd p.more-items a {
	display: block;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2ItutXn4XXXXXXXXX_!!446388887.jpg) no-repeat;
	border: none;
	width: 72px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0 20px 0 0;
	filter: alpha(opacity=100);
	-ms-filter: alpha(opacity=100);
}
.tb-shop .box .bd p.more-items a:hover {
	text-decoration: underline;
}

/* friends links */
.tb-shop .box .shop-links .bd {
	padding: 10px;
}
.tb-shop .box .shop-links .bd li {
	list-style: inside;
	margin: 0 0 3px;
}
.tb-shop .box .shop-links .bd li a {
	color: #000;
}
.tb-shop .box .shop-links .bd li a:hover {
	text-decoration: underline;
}

/* goods rank */
.tb-shop .box .shop-rank .bd .rank-tab {
	padding: 15px 0 0 0;
}
.tb-shop .box .shop-rank .tab-nav {
	height: 28px;
}
.tb-shop .box .shop-rank .tab-nav li span {
	color: #000;
}
.tb-shop .box .shop-rank .tab-nav li {
	background-color: #fff;
    border: 1px solid #000000;
    border-radius: 0;
}
.tb-shop .box .shop-rank .tab-nav .selected {
    background-color: #000000;
    border: 1px solid #000000;
}
.tb-shop .box .shop-rank .tab-nav .selected span {
	color: #fff;
}
.tb-shop .box .shop-rank .rank-panels {
	border: none;
}

/* shop-slider */
.tb-shop .box .shop-slider .bd {
	border: none;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger {
	bottom: 10px;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger li {
	background-color: #fff;
	border: 1px solid #000000;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #000000;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger li.current {
	background: #000000;
	border: 1px solid #000000;
	color: #fff;
	font-weight: bold;
}

/* 
************************************************************************
************************************************************************
************************************************************************
 */
/* left banner */
.m_slide_banner_num {
	height: 450px;
	overflow: hidden;
	position: relative;
	width: 190px;
}
.m_slide_banner_num .ks-switchable-nav {
	bottom: 40px;
	position: absolute;
	right: 65px;
	z-index: 99;
}
.m_slide_banner_num .ks-switchable-nav li {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	color: #fff;
	cursor: pointer;
	float: left;
	height: 10px;
	line-height: 10px;
	margin-left: 5px;
	text-indent: -999em;
	width: 10px;
}
.m_slide_banner_num .ks-switchable-nav li.ks-active {
	background: #000000;
	border: 1px solid #fff;
}
.m_slide_banner_num .ks-switchable-content li {
	height: 450px;
	overflow: hidden;
	width: 190px;
	position: relative;
	z-index: 5;
}
.m_slide_banner_num .ks-switchable-content li p {
	height: 30px;
	line-height: 30px;
	width: 190px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	font-size: 14px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2uUNtXkhMXXXXXXXX_!!446388887.png) repeat;
	_background: #373737;
}
.m_slide_banner_num .ks-switchable-content li img{
	height: 450px;
	width: 190px;
}

/* right banner */
.dm_slide_kapan {
	position: relative;
	width: 750px;
	height: 450px;
	overflow: hidden;
}
.dm_slide_kapan .ks-switchable-nav {
	position: absolute;
	width: 750px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	bottom: 0;
	right: 0;
	z-index: 99;
}
.dm_slide_kapan .ks-switchable-nav li {
	float: left;
	width: 180px;
	overflow: hidden;	
	text-align: center;
	cursor: pointer;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2uUNtXkhMXXXXXXXX_!!446388887.png) repeat;
	_background: #373737;
	margin-right: 10px;
}
.dm_slide_kapan .ks-switchable-nav li.last {
	margin: 0;
}
.dm_slide_kapan .ks-switchable-nav li a {
	display: block;
	color: #fff;
	font-weight: bold;
}
.dm_slide_kapan .ks-switchable-nav li.ks-active a,
.dm_slide_kapan .ks-switchable-nav li a:hover {
	text-decoration: underline;
}
.dm_slide_kapan .ks-switchable-content li {
	width: 750px;
	height: 450px;
	overflow: hidden;
}
.dm_slide_kapan .ks-switchable-content li img {
	width: 750px;
	height: 450px;
}

/* T台宝贝 */
/* left */
.gezi {
	height: 770px;
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2LJhXXi8NXXXXXXXX_!!446388887.jpg) no-repeat;
	position: relative;
}
.gezi_le .a {
	position: absolute;
	left: 22px;
	top: 321px;
	width: 160px;
	height: 160px;
}
.gezi_le .a img {
	width: 160px;
	height: 160px;
}
.gezi_le .a a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.gezi_ri {
	background-position: right top;
}
.gezi_ri .a,
.gezi_ri .b,
.gezi_ri .c {
	position: absolute;
	width: 161px;
	height: 161px;
}
.gezi_ri .a img,
.gezi_ri .b img,
.gezi_ri .c img {
	width: 161px;
	height: 161px;
}
.gezi_ri .a a:hover img,
.gezi_ri .b a:hover img,
.gezi_ri .c a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.gezi_ri .a {
	left: 64px;
	top: 79px;
}
.gezi_ri .b {
	left: 510px;
	top: 308px;
}
.gezi_ri .c {
	left: 475px;
	top: 479px;
}
.gezi_ri .d,
.gezi_ri .e,
.gezi_ri .f {
	position: absolute;
	width: 230px;
	height: 230px;
}
.gezi_ri .d img,
.gezi_ri .e img,
.gezi_ri .f img {
	width: 230px;
	height: 230px;
}
.gezi_ri .d a:hover img,
.gezi_ri .e a:hover img,
.gezi_ri .f a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.gezi_ri .d {
	left: 235px;
	top: 56px;
}
.gezi_ri .e {
	left: -7px;
	top: 251px;
}
.gezi_ri .f {
	left: 234px;
	top: 480px;
}
.gezi_ri .g {
	position: absolute;
	left: 235px;
	top: 299px;
	width: 260px;
	height: 170px;
}
.gezi_ri .g img {
	width: 260px;
	height: 170px;
}
.gezi_ri .g a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}

/* 关键词和公告 */
.dhgg {
	overflow: hidden;
	height: 213px;
}
.dhgg .daohang .c_hd,
.dhgg .gg .c_hd {
	line-height: 50px;
	height: 50px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2tX0XXjhNXXXXXXXX_!!446388887.jpg) no-repeat right top;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	text-indent: 10px;
}
.dhgg .daohang {
	float: left;
	width: 550px;
	height: 213px;
	overflow: hidden;
}
.dhgg .keywords {
	padding: 10px 0 0 20px;
}
.dhgg .keywords dl {
	height: 28px;
	line-height: 28px;
	padding: 0 0 8px 0;
	color: #000;
	font-weight: bold;
}
.dhgg .keywords dt {
	float: left;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2iF8XXhlNXXXXXXXX_!!446388887.jpg) no-repeat;
	width: 91px;
	height: 28px;
	line-height: 26px;
	color: #FFFFFF;
	font-size: 12px;
	text-indent: 15px;
	font-weight: bold;
	overflow: hidden;
}
.dhgg .keywords dd {
	float: left;
}
.dhgg .keywords dd a {
	padding: 0 15px 0;
}

.dhgg .gg {
	float: right;
	width: 190px;
	height: 188px;
	overflow: hidden;
}
.dhgg .gg .c_bd {
	padding: 10px 0 10px 5px;
	line-height: 22px;
	color: #717271;
	height: 135px;
}

/* 折扣区 */
.zhekouqu {
	padding: 10px 0 0 0;
}
.zhekouqu_left li {
	margin: 0 0 15px 0;
}
.zhekouqu_left li a {
	display: block;
	width: 190px;
	height: 380px;
	overflow: hidden;
}
.zhekouqu_left li a img {
	width: 190px;
	height: 330px;
}
.zhekouqu_left li a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.zhekouqu_left li .title {
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	overflow: hidden;
	color: #777777;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.zhekouqu_left li a:hover .title {
	color: #f00;
}
.zhekouqu_left li .price {
	height: 20px;
	line-height: 20px;
	color: #000;
	font-weight: bold;
	text-indent: 70px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2xpJXXgJNXXXXXXXX_!!446388887.jpg) no-repeat 45px 2px;
}

.zhekouqu_right {
	padding-left: 6px;
}
.zhekouqu_right li {
	margin: 0 12px 15px 12px;
	float: left;
}
.zhekouqu_right li a {
	display: block;
	width: 220px;
	height: 380px;
	overflow: hidden;
}
.zhekouqu_right li a img {
	width: 220px;
	height: 330px;
}
.zhekouqu_right li a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.zhekouqu_right li .title {
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	overflow: hidden;
	color: #777777;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.zhekouqu_right li a:hover .title {
	color: #f00;
}
.zhekouqu_right li .price {
	height: 20px;
	line-height: 20px;
	color: #000;
	font-weight: bold;
	text-indent: 85px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2xpJXXgJNXXXXXXXX_!!446388887.jpg) no-repeat 60px 2px;
}

/* 新品区 */
.xinpinqu {
	padding: 15px 0 0 0;
}
.xinpinqu_left li {
	margin: 0 0 15px 0;
}
.xinpinqu_left li a {
	display: block;
	width: 190px;
	height: 290px;
	overflow: hidden;
}
.xinpinqu_left li a img {
	width: 190px;
	height: 230px;
}
.xinpinqu_left li a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.xinpinqu_left li .title {
	height: 30px;
	padding: 0 5px;
	background: #6D6D6D;
	margin: 7px 0 3px;
	line-height: 30px;
	overflow: hidden;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.xinpinqu_left li a:hover .title {
	color: #000;
}
.xinpinqu_left li .price {
	height: 20px;
	line-height: 20px;
	color: #000;
	font-weight: bold;
	text-align: center;
}

.xinpinqu_right {
	padding-left: 15px;
}
.xinpinqu_right li {
	margin: 0 15px 15px 0;
	float: left;
}
.xinpinqu_right li a {
	display: block;
	width: 230px;
	height: 290px;
	overflow: hidden;
}
.xinpinqu_right li a img {
	width: 230px;
	height: 230px;
}
.xinpinqu_right li a:hover img {
	-ms-filter: "alpha(opacity=70)";
	filter: alpha(opacity=70);
	opacity: .7;
}
.xinpinqu_right li .title {
	height: 30px;
	padding: 0 5px;
	background: #6D6D6D;
	margin: 7px 0 3px;
	line-height: 30px;
	overflow: hidden;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}
.xinpinqu_right li a:hover .title {
	color: #000;
}
.xinpinqu_right li .price {
	height: 20px;
	line-height: 20px;
	color: #000;
	font-weight: bold;
	text-align: center;
}