<div class="r_guide">
	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【热卖】的链接地址 ★ ★ ★'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_MGtXotaXXXXXXXX_!!446388887.jpg" alt=""></a>

	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【新品】的链接地址 ★ ★ ★'}]" style="padding: 0 8px;"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2KwGtXXXbXXXXXXXX_!!446388887.jpg" alt=""></a>

	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【特价】的链接地址 ★ ★ ★'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2VgKtXntaXXXXXXXX_!!446388887.jpg" alt=""></a>
</div>