<table width="100%">
	<tbody>
		<tr>
			<td style="height: 40px; line-height: 48px; text-indent: 30px; color: #000000; font-weight: bold; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2iZFmXj0NXXXXXXXX_!!446388887.jpg) no-repeat;">
				宝贝详情
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
		<tr>
			<td style="height: 40px; line-height: 48px; text-indent: 30px; color: #000000; font-weight: bold; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2iZFmXj0NXXXXXXXX_!!446388887.jpg) no-repeat;">
				温馨提示
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
		<tr>
			<td style="height: 40px; line-height: 48px; text-indent: 30px; color: #000000; font-weight: bold; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2iZFmXj0NXXXXXXXX_!!446388887.jpg) no-repeat;">
				邮资说明
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
		<tr>
			<td style="height: 40px; line-height: 48px; text-indent: 30px; color: #000000; font-weight: bold; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2iZFmXj0NXXXXXXXX_!!446388887.jpg) no-repeat;">
				其他说明
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
	</tbody>
</table>