<div class="J_TWidget dm_table_slide dm_custom_area" data-widget-type="Slide" data-widget-config="{'effect':'fade', 'autoplay':true}">
	<ul class="ks-switchable-content">
    	<li>
			<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝1】的购买页地址'}]">
				<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝1】的大图地址，尺寸大小为350X350'}]"></div>
				<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝1】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥199元</div>
			</a>
        </li>
		<li>
			<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝2】的购买页地址'}]">
				<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝2】的大图地址，尺寸大小为350X350'}]"></div>
				<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝2】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥100元</div>
			</a>
        </li>
        <li>
			<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝3】的购买页地址'}]">
				<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝3】的大图地址，尺寸大小为350X350'}]"></div>
				<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝3】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥399元</div>
			</a>
        </li>
        <li>
			<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝4】的购买页地址'}]">
				<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝4】的大图地址，尺寸大小为350X350'}]"></div>
				<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝4】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥666元</div>
			</a>
        </li>
    </ul>
    
    <ul class="ks-switchable-nav">
    	<li class="ks-active one">
        	<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图1】的图片地址，尺寸大小为190X190'}]" />
        </li>
        <li class="two">
        	<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图2】的图片地址，尺寸大小为190X190'}]" />
        </li>
        <li class="three">
       		<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图3】的图片地址，尺寸大小为190X190'}]" />
        </li>
        <li class="four">
        	<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图4】的图片地址，尺寸大小为190X190'}]" />
        </li>
    </ul>
</div>