<div class="J_TWidget dm_slide_kapan" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true}">
	<ul class="ks-switchable-content">
    	<li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2mbRBXidNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸750x450'}]" /></a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2mbRBXidNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸750x450'}]" /></a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2mbRBXidNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸750x450'}]" /></a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2mbRBXidNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸750x450'}]" /></a></li>
    </ul>
    
    <ul class="ks-switchable-nav">
    	<li class="ks-active"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图1]的文字标题'}]">标题1，大图尺寸为750x450</a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图2]的文字标题'}]">标题2，大图尺寸为750x450</a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图3]的文字标题'}]">标题3，大图尺寸为750x450</a></li>
        <li class="last"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图4]的文字标题'}]">标题4，大图尺寸为750x450</a></li>
    </ul>
</div>