<div class="t_banner_r">
	<div class="J_TWidget dm_slide_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
		<ul class="ks-switchable-content">
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【1】的宝贝购买页地址'}]">
					<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2nI5tXixaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【1】的图片地址，尺寸大小为750x420'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【2】的宝贝购买页地址'}]">
					<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2nI5tXixaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【2】的图片地址，尺寸大小为750x420'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【3】的宝贝购买页地址'}]">
					<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2nI5tXixaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【3】的图片地址，尺寸大小为750x420'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【4】的宝贝购买页地址'}]">
					<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2nI5tXixaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【4】的图片地址，尺寸大小为750x420'}]" />
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="r_guide" style="margin: 10px 0;">
	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【热卖】的链接地址 ★ ★ ★'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2U0itXcXaXXXXXXXX_!!446388887.gif" alt=""></a>

	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【新品】的链接地址 ★ ★ ★'}]" style="padding: 0 8px;"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2OtitXcdaXXXXXXXX_!!446388887.gif" alt=""></a>

	<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【特价】的链接地址 ★ ★ ★'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2dtmtXbFaXXXXXXXX_!!446388887.gif" alt=""></a>
</div>

<div class="fkrm_r">
	<div class="c_hd">
		<h3 data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 修改标题'}]">疯狂热卖</h3>
	</div>
</div>	