<div class="sgtj">
	<ul>
		<li>
			<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2.m5sXhNaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为180x270'}]" alt=""></a>
		</li>
		<li>
			<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2Nm9sXgVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为180x270'}]" alt=""></a>
		</li>
		<li>
			<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2.m5sXhNaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为180x270'}]" alt=""></a>
		</li>
		<li>
			<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2Nm9sXgVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为180x270'}]" alt=""></a>
		</li>
	</ul>
</div>