<div class="kefu">
	<div>
		<p>
			小二：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=wangwang&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=wangwang&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a>
			小二：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=wangwang&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=wangwang&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a>
			小二：<a target="_blank" rhef="http://www.taobao.com/webww/ww.php?ver=3&touid=wangwang&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=wangwang&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a>
		</p>
		<p>
			小二：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=wangwang&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=wangwang&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a>
			小二：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=wangwang&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=wangwang&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a>
			小二：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=wangwang&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=wangwang&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a>
		</p>
	</div>
	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 修改文字'}]">工作时间：9：00 - 22：00</p>
	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 修改文字'}]">联系电话：13333333333</p>
	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 修改文字'}]">联系电话：13333333333</p>
</div>