<div class="J_TWidget dm_accordion_valign" data-widget-type="Accordion" data-widget-config="{'triggerType':'mouse'}">

	<div class="ks-switchable-trigger ks-active">
		<span class="icon-plus">+</span><span class="icon-minus">-</span><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝1]的文字标题'}]">宝贝文字标题 ￥99.00</a>
	</div>
	<div class="ks-switchable-panel">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的购买页地址'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Yi1gXhdaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，尺寸大小为160X160'}]" />
		</a>
	</div>
	
	<div class="ks-switchable-trigger">
		<span class="icon-plus">+</span><span class="icon-minus">-</span><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝2]的文字标题'}]">宝贝文字标题 ￥99.00</a>
	</div>
	<div class="ks-switchable-panel" style="display: none;">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的购买页地址'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2ey1gXidaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，尺寸大小为160X160'}]" />
		</a>
	</div>
	
	<div class="ks-switchable-trigger">
		<span class="icon-plus">+</span><span class="icon-minus">-</span><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝3]的文字标题'}]">宝贝文字标题 ￥99.00</a>
	</div>
	<div class="ks-switchable-panel" style="display: none;">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的购买页地址'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Yi1gXhdaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，尺寸大小为160X160'}]" />
		</a>
	</div>
	
	<div class="ks-switchable-trigger">
		<span class="icon-plus">+</span><span class="icon-minus">-</span><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝4]的购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝4]的文字标题'}]">宝贝文字标题 ￥99.00</a>
	</div>
	<div class="ks-switchable-panel" style="display: none;">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝4]的购买页地址'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Yi1gXhdaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝4]的图片地址，尺寸大小为160X160'}]" />
		</a>
	</div>
	
	<div class="ks-switchable-trigger">
		<span class="icon-plus">+</span><span class="icon-minus">-</span><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝5]的购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝5]的文字标题'}]">宝贝文字标题 ￥99.00</a>
	</div>
	<div class="ks-switchable-panel" style="display: none;">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝5]的购买页地址'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2ey1gXidaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝5]的图片地址，尺寸大小为160X160'}]" />
		</a>
	</div>
	
	<div class="ks-switchable-trigger">
		<span class="icon-plus">+</span><span class="icon-minus">-</span><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝6]的购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝6]的文字标题'}]">宝贝文字标题 ￥99.00</a>
	</div>
	<div class="ks-switchable-panel" style="display: none;">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝6]的购买页地址'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Yi1gXhdaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝6]的图片地址，尺寸大小为160X160'}]" />
		</a>
	</div>
	
</div>