<div class="dhm_fzb">
	<div class="dhm_banner">
		<div class="J_TWidget dm_slide_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
			<ul class="ks-switchable-content">
				<li>
					<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【1】的宝贝购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2KyOgXmlaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【1】的图片地址，尺寸大小为750X450'}]" />
					</a>
				</li>
				<li>
					<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【2】的宝贝购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2KyOgXmlaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【2】的图片地址，尺寸大小为750X450'}]" />
					</a>
				</li>
				<li>
					<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【3】的宝贝购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2KyOgXmlaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【3】的图片地址，尺寸大小为750X450'}]" />
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="dhm_sgzq">
		<div class="new" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">新品专区，亲们关注新品哦！</div>
		<div class="discount" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">折扣专区，惊喜多多，实惠多多！</div>
		<div class="favorite" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">快快收藏，收藏有礼物哦！</div>
	</div>

	<div class="dhm_keywords">
		<dl class="cf">
			<dt><a href="#" target="_blank">功能性文胸</a></dt>
			<dd>
				<a href="#" target="_blank">聚拢</a>
				<a href="#" target="_blank">调整型</a>
				<a href="#" target="_blank">无痕</a>
				<a href="#" target="_blank">按摩</a>
				<a href="#" target="_blank">上托</a>
				<a href="#" target="_blank">丰胸</a>
				<a href="#" target="_blank">定型</a>
				<a href="#" target="_blank">吸汗</a>
			</dd>
		</dl>
		<dl class="cf">
			<dt><a href="#" target="_blank">搭配系文胸</a></dt>
			<dd>
				<a href="#" target="_blank">聚拢</a>
				<a href="#" target="_blank">调整型</a>
				<a href="#" target="_blank">无痕</a>
				<a href="#" target="_blank">按摩</a>
				<a href="#" target="_blank">上托</a>
				<a href="#" target="_blank">丰胸</a>
				<a href="#" target="_blank">定型</a>
				<a href="#" target="_blank">吸汗</a>
			</dd>
		</dl>
		<dl class="cf">
			<dt><a href="#" target="_blank">美体塑身</a></dt>
			<dd>
				<a href="#" target="_blank">聚拢</a>
				<a href="#" target="_blank">调整型</a>
				<a href="#" target="_blank">无痕</a>
				<a href="#" target="_blank">按摩</a>
				<a href="#" target="_blank">上托</a>
				<a href="#" target="_blank">丰胸</a>
				<a href="#" target="_blank">定型</a>
				<a href="#" target="_blank">吸汗</a>
			</dd>
		</dl>
		<dl class="cf">
			<dt><a href="#" target="_blank">内裤 袜子</a></dt>
			<dd>
				<a href="#" target="_blank">聚拢</a>
				<a href="#" target="_blank">调整型</a>
				<a href="#" target="_blank">无痕</a>
				<a href="#" target="_blank">按摩</a>
				<a href="#" target="_blank">上托</a>
				<a href="#" target="_blank">丰胸</a>
				<a href="#" target="_blank">定型</a>
				<a href="#" target="_blank">吸汗</a>
			</dd>
		</dl>
		<dl class="cf">
			<dt><a href="#" target="_blank">基础内衣</a></dt>
			<dd>
				<a href="#" target="_blank">聚拢</a>
				<a href="#" target="_blank">调整型</a>
				<a href="#" target="_blank">无痕</a>
				<a href="#" target="_blank">按摩</a>
				<a href="#" target="_blank">上托</a>
				<a href="#" target="_blank">丰胸</a>
				<a href="#" target="_blank">定型</a>
				<a href="#" target="_blank">吸汗</a>
			</dd>
		</dl>
	</div>	

	<div class="dm-carousel J_TWidget" data-widget-type="Carousel" data-widget-config="{'effect':'scrollx', 'prevBtnCls':'btn-prev', 'nextBtnCls':'btn-next'}">
		<a class="btn-prev"></a>
		<a class="btn-next"></a>
	    <div class="dm-box">
	        <ul class="ks-switchable-content">
	            <li>
	                <div>
	                    <div class="pic"><a href="http://www.taobao.com" target="_blank" data-
						attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2s55gXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为250X250'}]" /></a></div>
	                    <div class="info">
	                    	<div class="title">
	                        	<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝1]的宝贝标题'}]">这里是标题 请根据具体效果来确定字数 这里是标题 请根据具体效果来确定字数 这里是标题 请根据具体效果来确定字数</a>
	                        </div>
	                        <div class="detail">
	                        	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的特色1说明'}]">在此输入你宝贝的特色描述</p>
								<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的特色2说明'}]" style="margin-top: 5px;">在此输入你宝贝的特色描述</p>
								<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的特色3说明'}]" style="margin-top: 5px;">在此输入你宝贝的特色描述</p>
	                        </div>
	                        <div class="price"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝1]的价格'}]">￥299元</a></div>
	                    </div>
	                </div>
	            </li>
	            <li>
	                <div>
	                    <div class="pic"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2s55gXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为250X250'}]" /></a></div>
	                    <div class="info">
	                    	<div class="title">
	                        	<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝2]的宝贝标题'}]">这里是标题 请根据具体效果来确定字数 这里是标题 请根据具体效果来确定字数 这里是标题 请根据具体效果来确定字数</a>
	                        </div>
	                        <div class="detail">
	                        	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的特色1说明'}]">在此输入你宝贝的特色描述</p>
								<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的特色2说明'}]" style="margin-top: 5px;">在此输入你宝贝的特色描述</p>
								<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的特色3说明'}]" style="margin-top: 5px;">在此输入你宝贝的特色描述</p>
	                        </div>
	                        <div class="price"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝2]的价格'}]">￥299元</a></div>
	                    </div>
	                </div>
	            </li>
	            <li>
	                <div>
	                    <div class="pic"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2s55gXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为250X250'}]" /></a></div>
	                    <div class="info">
	                    	<div class="title">
	                        	<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝3]的宝贝标题'}]">这里是标题 请根据具体效果来确定字数 这里是标题 请根据具体效果来确定字数 这里是标题 请根据具体效果来确定字数</a>
	                        </div>
	                        <div class="detail">
	                        	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的特色1说明'}]">在此输入你宝贝的特色描述</p>
								<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的特色2说明'}]" style="margin-top: 5px;">在此输入你宝贝的特色描述</p>
								<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的特色3说明'}]" style="margin-top: 5px;">在此输入你宝贝的特色描述</p>
	                        </div>
	                        <div class="price"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝3]的价格'}]">￥299元</a></div>
	                    </div>
	                </div>
	            </li>
	        </ul>
	    </div>
	    
	    <ul class="ks-switchable-nav">
	        <li class="ks-active">
	            <img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2s55gXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为80X80'}]" />
	        </li>
	        <li>
	            <img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2s55gXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为80X80'}]" />
	        </li>
	        <li>
	            <img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2s55gXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为80X80'}]" />
	        </li>
	    </ul>
	</div>	
</div>