<div class="shoucang">
	<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2ibhBXeXNXXXXXXXX_!!446388887.jpg" alt=""></a>
</div>
<div class="m_kefu">
	<div class="m_hd" style="margin: 2px 0 0 0;">
		<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2h24BXbJNXXXXXXXX_!!446388887.jpg" alt="">
	</div>
	<div class="m_bd">
		<table width="100%" style="border-spacing: 7px;">
			<tbody>
				<tr>
					<td>
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2DKhqXX4NXXXXXXXX_!!446388887.jpg" alt="">
					</td>
					<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
						客服小二：
					</td>
					<td>
						<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
					<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
						客服小二：
					</td>
					<td>
						<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
					<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
						客服小二：
					</td>
					<td>
						<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
					<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
						客服小二：
					</td>
					<td>
						<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
					</td>
				</tr>
				<tr>
					<td>
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2DKhqXX4NXXXXXXXX_!!446388887.jpg" alt="">
					</td>
					<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
						电话：13333333333
					</td>
				</tr>
				<tr>
					<td>
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2DKhqXX4NXXXXXXXX_!!446388887.jpg" alt="">
					</td>
					<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
						在线：9:00 AM -- 23:00 PM
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>