<table>
	<tbody>
		<tr>
			<td>
				<div class="hm_banner">
					<div class="J_TWidget dm_slide_kapan" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true}">
						<ul class="ks-switchable-content">
					    	<li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸750x390'}]" /></a></li>
					        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸750x390'}]" /></a></li>
					        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸750x390'}]" /></a></li>
					        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸750x390'}]" /></a></li>
					        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图5]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图5]的图片地址，图片尺寸750x390'}]" /></a></li>
					    </ul>
					    <div class="hm_line"></div>
					    <ul class="ks-switchable-nav">
					    	<li class="ks-active"><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
					        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
					        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
					        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
					        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图5]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
					    </ul>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="dhgg" style="margin: 10px 0;">
					<div class="daohang">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							快速导航
						</div>

						<div class="band">
							
							<div class="dm-carousel J_TWidget" data-widget-type="Carousel" data-widget-config="{'effect':'scrollx', 'prevBtnCls':'btn-prev', 'nextBtnCls':'btn-next'}">
								<a class="btn-prev"></a>
								<a class="btn-next"></a>
							    <div class="dm-box">
							        <ul class="ks-switchable-content">
							            <li>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON1的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON1的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON2的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2_dqtXo0XXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON2的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON3的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON3的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON4的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2_dqtXo0XXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON4的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON5的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON5的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON6的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON6的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON7的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON7的图片地址，图片尺寸大小为60x30'}]"></a>
							            </li>
							            <li>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON8的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON8的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON9的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2_dqtXo0XXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON9的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON10的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON10的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON11的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2_dqtXo0XXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON11的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON12的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON12的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON13的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON13的图片地址，图片尺寸大小为60x30'}]"></a>
							                <a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ ICON14的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2UdqtXXhaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ ICON14的图片地址，图片尺寸大小为60x30'}]"></a>
							            </li>
							        </ul>
							    </div>
							</div>

						</div>

						<div class="keywords">
							<table width="100%">
								<tbody>
									<tr>
										<td width="101" height="28" style="background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2f7XSXdBdXXXXXXXX_!!446388887.gif) no-repeat; font-size: 14px; font-weight: bold; text-indent: 15px; color: #fff;">按种类分</td>
										<td><a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a></td>
									</tr>
									<tr>
										<td width="101" height="28" style="background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2f7XSXdBdXXXXXXXX_!!446388887.gif) no-repeat; font-size: 14px; font-weight: bold; text-indent: 15px; color: #fff;">按性能分</td>
										<td><a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a></td>
									</tr>
									<tr>
										<td width="101" height="28" style="background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2f7XSXdBdXXXXXXXX_!!446388887.gif) no-repeat; font-size: 14px; font-weight: bold; text-indent: 15px; color: #fff;">按价格分</td>
										<td><a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="gg">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							公告
						</div>
						<div class="c_bd">
							<marquee direction="up" behavior="scroll" scrollamount="2" height="130" width="180" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！</marquee>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="sige" style="margin: 0 0 10px 0;">
					<table width="100%">
						<tbody>
							<tr>
								<td width="373" height="280" style="background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2qrxSXXFdXXXXXXXX_!!446388887.jpg) no-repeat;">
									<table width="100%">
										<tbody>
											<tr>
												<td rowspan="4" class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝1的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★宝贝1的图片地址，图片尺寸155x185'}]"></a></td>
												<td class="title"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★★★宝贝1的的标题'}]">iPhone 4S</a></td>
											</tr>
											<tr>
												<td class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝1的的描述'}]">双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片</td>
											</tr>
											<tr>
												<td class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝1的的价格'}]">RMB：4988</td>
											</tr>
											<tr>
												<td class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝1的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" /></a></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td width="4" height="280">

								</td>
								<td width="373" height="280" style="background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2qrxSXXFdXXXXXXXX_!!446388887.jpg) no-repeat;">
									<table width="100%">
										<tbody>
											<tr>
												<td rowspan="4" class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝2的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★宝贝2的图片地址，图片尺寸155x185'}]"></a></td>
												<td class="title"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★★★宝贝2的的标题'}]">iPhone 4S</a></td>
											</tr>
											<tr>
												<td class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝2的的描述'}]">双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片</td>
											</tr>
											<tr>
												<td class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝2的的价格'}]">RMB：4988</td>
											</tr>
											<tr>
												<td class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝2的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" /></a></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td width="373" height="280" style="background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2qrxSXXFdXXXXXXXX_!!446388887.jpg) no-repeat;">
									<table width="100%">
										<tbody>
											<tr>
												<td rowspan="4" class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝3的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★宝贝3的图片地址，图片尺寸155x185'}]"></a></td>
												<td class="title"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★★★宝贝3的的标题'}]">iPhone 4S</a></td>
											</tr>
											<tr>
												<td class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝3的的描述'}]">双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片</td>
											</tr>
											<tr>
												<td class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝3的的价格'}]">RMB：4988</td>
											</tr>
											<tr>
												<td class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝3的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" /></a></td>
											</tr>
										</tbody>
									</table>
								</td>
								<td width="4" height="280">

								</td>
								<td width="373" height="280" style="background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2qrxSXXFdXXXXXXXX_!!446388887.jpg) no-repeat;">
									<table width="100%">
										<tbody>
											<tr>
												<td rowspan="4" class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝4的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★宝贝4的图片地址，图片尺寸155x185'}]"></a></td>
												<td class="title"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝4的购买页地址'}, {'type':'innerHTML', 'desc':'★★★宝贝4的的标题'}]">iPhone 4S</a></td>
											</tr>
											<tr>
												<td class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝4的的描述'}]">双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片 双核 A5 芯片</td>
											</tr>
											<tr>
												<td class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★宝贝4的的价格'}]">RMB：4988</td>
											</tr>
											<tr>
												<td class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★★★宝贝4的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" /></a></td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="dm_carousel_muma J_TWidget" data-widget-type="Carousel" data-widget-config="{'effect':'scrollx', 'prevBtnCls':'btn-prev', 'nextBtnCls':'btn-next'}">
				    <div class="dm_muma_container">
				        <ul class="ks-switchable-content">
				            <li>
				                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为170x200'}]"></a></div>
				                <div class="desc">
				                    
				                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
				                    <div class="liyou arrow">[推荐理由]</div>
				                    <ul>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
				                    </ul>
				                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">1888</em></div>
				                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" alt=""></a></div>
				                </div>
				            </li>
				            <li>
				                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为170x200'}]"></a></div>
				                <div class="desc">
				                    
				                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
				                    <div class="liyou arrow">[推荐理由]</div>
				                    <ul>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
				                    </ul>
				                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">222</em></div>
				                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" alt=""></a></div>
				                </div>
				            </li>
				            <li>
				                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为170x200'}]"></a></div>
				                <div class="desc">
				                    
				                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
				                    <div class="liyou arrow">[推荐理由]</div>
				                    <ul>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
				                    </ul>
				                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">333</em></div>
				                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" alt=""></a></div>
				                </div>
				            </li>
				            <li>
				                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为170x200'}]"></a></div>
				                <div class="desc">
				                    
				                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
				                    <div class="liyou arrow">[推荐理由]</div>
				                    <ul>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
				                    </ul>
				                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的价格'}]">444</em></div>
				                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" alt=""></a></div>
				                </div>
				            </li>
				            <li>
				                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的图片地址，图片尺寸大小为170x200'}]"></a></div>
				                <div class="desc">
				                    
				                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
				                    <div class="liyou arrow">[推荐理由]</div>
				                    <ul>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
				                    </ul>
				                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的价格'}]">555</em></div>
				                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" alt=""></a></div>
				                </div>
				            </li>
				            <li>
				                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝6的图片地址，图片尺寸大小为170x200'}]"></a></div>
				                <div class="desc">
				                    
				                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
				                    <div class="liyou arrow">[推荐理由]</div>
				                    <ul>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
				                    </ul>
				                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的价格'}]">666</em></div>
				                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" alt=""></a></div>
				                </div>
				            </li>
				            <li>
				                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝7的图片地址，图片尺寸大小为170x200'}]"></a></div>
				                <div class="desc">
				                    
				                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
				                    <div class="liyou arrow">[推荐理由]</div>
				                    <ul>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
				                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
				                    </ul>
				                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的价格'}]">777</em></div>
				                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2votRXctdXXXXXXXX_!!446388887.jpg" alt=""></a></div>
				                </div>
				            </li>
				        </ul>
				    </div>
				    
				    <ul class="ks-switchable-nav">
				        <li class="ks-active">
				            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为85x85'}]" />
				        </li>
				        <li>
				            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为85x85'}]" />
				        </li>
				        <li>
				            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为85x85'}]" />
				        </li>
				        <li>
				            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝4]的图片地址，大小尺寸为85x85'}]" />
				        </li>
				        <li>
				            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝5]的图片地址，大小尺寸为85x85'}]" />
				        </li>
				        <li>
				            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝6]的图片地址，大小尺寸为85x85'}]" />
				        </li>
				        <li>
				            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝7]的图片地址，大小尺寸为85x85'}]" />
				        </li>
				    </ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>