<div class="dhm_linkus">
    <ul>
    	<li>
        	<h3 data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">工作时间</h3>
            <p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">周一至周五：9:00-21:00</p>
            <p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">周六至周日：0:00-24:00</p>
        </li>
        <li>
        	<h3 data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">在线咨询</h3>
            <p><span data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改客服1的名字'}]">客服MM</span>：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a></p>
            <p><span data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改客服2的名字'}]">客服MM</span>：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a></p>
            <p><span data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改客服3的名字'}]">客服MM</span>：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a></p>
        </li>
		<li>
        	<h3 data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">联系方式</h3>
            <p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">手机：13800000000</p>
            <p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">座机：0755-88888888</p>
        </li>
    </ul>
</div>