<ul class="cf tbtj">
	<li>
		<a href="http://item.taobao.com/item.htm?id=16496476497" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
			<div class="pic"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2bANpXeRNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为245X370'}]"></div>
			<div class="info">
				<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">168</div>
				<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里是标题啦~~~</div>
				<div class="text" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的诗歌文字'}]">我翻出了那件背带的牛仔裙<br>细数年少时的往事<br>却不小心笑出了眼泪</div>
			</div>
		</a>
	</li>
	<li class="middle">
		<a href="http://item.taobao.com/item.htm?id=16496476497" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
			<div class="pic"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2oDFvXn8NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为245X370'}]"></div>
			<div class="info">
				<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">168</div>
				<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">这里是标题啦~~~</div>
				<div class="text" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的诗歌文字'}]">我翻出了那件背带的牛仔裙<br>细数年少时的往事<br>却不小心笑出了眼泪</div>
			</div>
		</a>
	</li>
	<li>
		<a href="http://item.taobao.com/item.htm?id=16496476497" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]">
			<div class="pic"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2W7iDXnNXXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为245X370'}]"></div>
			<div class="info">
				<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">168</div>
				<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">这里是标题啦~~~</div>
				<div class="text" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的诗歌文字'}]">我翻出了那件背带的牛仔裙<br>细数年少时的往事<br>却不小心笑出了眼泪</div>
			</div>
		</a>
	</li>
</ul>