<div class="jgbb">
	<table>
		<tbody>
			<tr>
				<td colspan="7" class="main_title" height="40">WE STORE SELLING BABY......</td>
			</tr>
			<tr>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝1】的购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20z0VXiNcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝1】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝1】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝2】的购买页地址'}]">
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2Z9lVXeFcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝2】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝2】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝3】的购买页地址'}]">
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lK86XfXcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝3】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝3】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
			</tr>
			<tr>
				<td height="35" colspan="7"></td>
			</tr>
			<tr>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝4】的购买页地址'}]">
						<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2VIpVXfRcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝4】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝4】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝5】的购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2PHRVXbddXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝5】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝5】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝6】的购买页地址'}]">
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2RvJ9XjdbXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝6】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝6】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
			</tr>
			<tr>
				<td height="35" colspan="7"></td>
			</tr>
			<tr>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝7】的购买页地址'}]">
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lK86XfXcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝7】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝7】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝8】的购买页地址'}]">
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2Z9lVXeFcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝8】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝8】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
				<td width="302" height="222">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝9】的购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20z0VXiNcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝9】的图片地址，尺寸大小为300X220'}]">
						<p class="J_TWidget" style="background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2oUJVXglcXXXXXXXX_!!446388887.png) repeat-x;" data-widget-type="Compatible" data-widget-config="{'png': true,'png_bg': true}" data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝9】的标题和价格'}]">在此输入您简短的宝贝标题 ￥98.00</p>
					</a>
				</td>
				<td width="11" height="222"></td>
			</tr>
			<tr>
				<td height="35" colspan="7"></td>
			</tr>
		</tbody>
	</table>
</div>