<div class="xuanfu_kefu J_TWidget" data-widget-type="Compatible" data-widget-config="{'fixed': true}">
	<table width="91" height="322">
		<tbody>
			<tr>
				<td height="105"></td>
			</tr>
			<tr>
				<td height="110">
					<table>
						<tbody>
							<tr>
								<td height="25">售前：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
							</tr>
							<tr>
								<td height="25">售前：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
							</tr>
							<tr>
								<td height="25">售后：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
							</tr>
							<tr>
								<td height="25">查件：<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td height="60" class="sc"><a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]"></a></td>
			</tr>
			<tr>
				<td height="35" class="top"><a href="#"></a></td>
			</tr>
		</tbody>
	</table>
</div>