<div class="xuanfu_huodong J_TWidget" data-widget-type="Compatible" data-widget-config="{'fixed': true}">
	<table width="91" height="322">
		<tbody>
			<tr>
				<td height="100"></td>
			</tr>
			<tr>
				<td height="110">
					<div class="cc">
						<table width="100%">
							<tbody>
								<tr>
									<td height="35"><a href="#" target="_blank">精品区</a></td>
								</tr>
								<tr>
									<td height="35"><a href="#" target="_blank">折扣区</a></td>
								</tr>
								<tr>
									<td height="35"><a href="#" target="_blank">人气区</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td height="95" class="sc"><a href="#"></a></td>
			</tr>
		</tbody>
	</table>
</div>