<div class="dm-carousel J_TWidget" data-widget-type="Carousel" data-widget-config="{'effect':'scrollx', 'prevBtnCls':'btn-prev', 'nextBtnCls':'btn-next'}">
	<a class="btn-prev"></a>
	<a class="btn-next"></a>
    <div class="dm-box">
        <ul class="ks-switchable-content">
            <li>
                <div class="cf">
                    <div class="pic">
                        <a href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为380X380'}]"></a>
                    </div>
                    <div class="desc">
                        <div><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2m1qFXfBXXXXXXXXX_!!446388887.png" alt=""></div>
                        <a href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}]">
                            <div class="tit" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的标题'}]">这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字</div>
                            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的价格'}]">￥180</div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="cf">
                    <div class="pic">
                        <a href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为380X380'}]"></a>
                    </div>
                    <div class="desc">
                        <div><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2m1qFXfBXXXXXXXXX_!!446388887.png" alt=""></div>
                        <a href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}]">
                            <div class="tit" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的标题'}]">这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字</div>
                            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的价格'}]">￥3380</div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="cf">
                    <div class="pic">
                        <a href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为380X380'}]"></a>
                    </div>
                    <div class="desc">
                        <div><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2m1qFXfBXXXXXXXXX_!!446388887.png" alt=""></div>
                        <a href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}]">
                            <div class="tit" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的标题'}]">这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字</div>
                            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的价格'}]">￥200</div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <ul class="ks-switchable-nav">
        <li class="ks-active">
            <img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为80X80'}]" />
        </li>
        <li>
            <img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为80X80'}]" />
        </li>
        <li>
            <img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为80X80'}]" />
        </li>
    </ul>
</div>