<table>
	<tbody>
		<tr>
			<td>
				<div class="J_TWidget dm_slide_num slide_ri" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
					<ul class="ks-switchable-content">
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【1】的宝贝购买页地址'}]">
								<img src="http://img04.taobaocdn.com/imgextra/i4/T1lCS.XadqXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【1】的图片地址，尺寸大小为750x450'}]" />
							</a>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【2】的宝贝购买页地址'}]">
								<img src="http://img04.taobaocdn.com/imgextra/i4/T1lCS.XadqXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【2】的图片地址，尺寸大小为750x450'}]" />
							</a>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【3】的宝贝购买页地址'}]">
								<img src="http://img04.taobaocdn.com/imgextra/i4/T1lCS.XadqXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【3】的图片地址，尺寸大小为750x450'}]" />
							</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="r_guide" style="margin: 15px 0;">
					<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【热卖】的链接地址 ★ ★ ★'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2Q1SFXeFXXXXXXXXX_!!446388887.jpg" alt=""></a>

					<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【新品】的链接地址 ★ ★ ★'}]" style="padding: 0 7px 0 7px;"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nu1FXclXXXXXXXXX_!!446388887.jpg" alt=""></a>

					<a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击【特价】的链接地址 ★ ★ ★'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2r11FXcdXXXXXXXXX_!!446388887.jpg" alt=""></a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="dhgg">
					<div class="daohang">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							快速导航
						</div>

						<div class="keywords">
							<dl>
								<dt>按种类分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
							<dl>
								<dt>按性能分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
							<dl>
								<dt>按价格分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
							<dl>
								<dt>按种类分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
						</div>
					</div>

					<div class="gg">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							公告
						</div>
						<div class="c_bd">
							<marquee direction="up" scrollamount="2" height="130" width="180">
								<font data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">   	为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！</font>
							</marquee>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="J_TWidget dm_table_slide dm_custom_area" data-widget-type="Slide" data-widget-config="{'effect':'fade', 'autoplay':true}" style="margin: 18px 0 0;">
					<ul class="ks-switchable-content">
				    	<li>
							<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝1】的购买页地址'}]">
								<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝1】的大图地址，尺寸大小为350X350'}]"></div>
								<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝1】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥199元</div>
							</a>
				        </li>
						<li>
							<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝2】的购买页地址'}]">
								<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝2】的大图地址，尺寸大小为350X350'}]"></div>
								<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝2】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥100元</div>
							</a>
				        </li>
				        <li>
							<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝3】的购买页地址'}]">
								<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝3】的大图地址，尺寸大小为350X350'}]"></div>
								<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝3】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥399元</div>
							</a>
				        </li>
				        <li>
							<a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝4】的购买页地址'}]">
								<div class="pic"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝4】的大图地址，尺寸大小为350X350'}]"></div>
								<div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝4】的标题和价格'}]">这里是宝贝标题和价格 这里是宝贝标题和价格 ￥666元</div>
							</a>
				        </li>
				    </ul>
				    
				    <ul class="ks-switchable-nav">
				    	<li class="ks-active one">
				        	<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图1】的图片地址，尺寸大小为190X190'}]" />
				        </li>
				        <li class="two">
				        	<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图2】的图片地址，尺寸大小为190X190'}]" />
				        </li>
				        <li class="three">
				       		<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2gzhtXddNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图3】的图片地址，尺寸大小为190X190'}]" />
				        </li>
				        <li class="four">
				        	<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2XHplXfBNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图4】的图片地址，尺寸大小为190X190'}]" />
				        </li>
				    </ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div><img  src="http://img04.taobaocdn.com/imgextra/i4/T12Gq9XiNsXXcpU0s2-446388887.jpg"></div>
			</td>
		</tr>
	</tbody>
</table>