<div style="height: 810px; overflow: hidden;">
	<table width="100%">
		<tbody>
			<tr>
				<td><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2.NpyXdVNXXXXXXXX_!!446388887.jpg" alt=""></td>
				<td style="color: #9CD5C6; font-weight: bold; font-size: 16px; vertical-align: bottom;">做最特别的自己</td>
			</tr>
			<tr>
				<td colspan="2" style="color: #4A4A49; font-weight: bold; line-height: 22px; padding: 5px 0;">
					做最特别的自己，<br>
					正因为你的不完美，你才如此<br>
					美丽、可爱、珍贵！
				</td>
			</tr>
			<tr>
				<td colspan="2" style="color: #C8C0AC; font-weight: bold; line-height: 22px; padding: 5px 0;">
					Be yourself and stay<br>
					unique. Your<br>
					imperfections make you<br>
					beautiful, lovable, and<br>
					valuable.
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a href="http://item.taobao.com/item.htm?id=16496512683" class="no-1-p1" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
						<div><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2CwJyXhtNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为140x165'}]"></div>
						<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里输入标题啦~~~</p>
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a href="http://item.taobao.com/item.htm?id=16496512683" class="no-1-p2" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
						<div><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2UkeDXh8XXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为190x200'}]"></div>
						<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里输入标题啦~~~</p>
					</a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<a href="http://item.taobao.com/item.htm?id=16496512683" class="no-1-p3" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
						<div><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2N5VqXe4NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为190x125'}]"></div>
						<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里输入标题啦~~~</p>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>