/* global */
.dhm_pr {
	position: relative;
}
.dhm_pa {
	position: absolute;
}
.hm_fixed {
	position: fixed;
}
.tb-shop a {
	color: #000;
}
.tb-shop a:hover {
	color: #F736A1;
	text-decoration: none;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
.shop-list .item .pic {
	border: 1px solid #B3B3B3;
}
.shop-list .item .pic:hover {
	border: 1px solid #F736A1;
}

/* header */
.tb-shop .main-wrap .box .shop-banner .bd {
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T24FKEXo8XXXXXXXXX_!!446388887.jpg) no-repeat 0 0;
	margin: 0;
	padding: 0;
	width: 950px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary {
	left: 0;
	top: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-logo {
	display: none;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title {
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 {
	left: 510px;
    position: absolute;
    top: 35px;
    width: 440px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a {
	color: #E5007F;
	font-size: 26px;
} 
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a:hover {
	text-decoration: underline;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title p {
	color: #5C5C5C;
    font-weight: bold;
    left: 0;
    padding: 10px 0 0;
    position: absolute;
    text-align: center;
    top: 80px;
    width: 950px;
}
.tb-shop .box .shop-banner .bd .shop-header .nav {
	height: 35px;
	overflow: hidden;
	background: none;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul {
	background: #000000;
	height: 35px;
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li {
	background: none;
	height: 35px;
	width: 100px;
	padding: 0;
	margin: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a {
	background: none;
	display: block;
	height: 35px;
	width: 100px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a em {
	background: none;
	color: #fff;
	font-size: 14px;
	display: block;
	height: 35px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	line-height: 34px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover {
	background: #F736A1;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a em,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover em {
	color: #fff;
}
.cat-items {
	border: 1px solid #000000;
	padding: 0;
	background: rgba(255, 255, 255, 0.8);
	*background: #F736A1;
	width: 700px;
	height: auto;
}
.cat-items .cat-all {
	background: none;
	padding: 5px 10px;
	color: #fff;
}
.cat-items .cat-all a {
	color: #000;
}
.cat-items .cat-all a:hover {
	color: #f00;
}
.cat-items .bd {
	padding: 5px 10px;
	background-position: 330px 0;
}
.cat-items .bd .cat-item {
	margin: 0 20px 20px 0;
	width: 320px;
}
.cat-items .bd .cat-item a {
	color: #171717;
}
.cat-items .bd .cat-item a:hover {
	color: #f00;
}

/* col-sub, col-main */
.tb-shop .col-sub .box，
.tb-shop .col-main .box {
	margin: 0 0 10px 0;
}
.tb-shop .col-sub .box .hd {
	height: 32px;
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2MWBYXbhdXXXXXXXX_!!446388887.jpg) no-repeat right top;
	border: none;
}
.tb-shop .col-main .box .hd {
	height: 32px;
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2MWBYXbhdXXXXXXXX_!!446388887.jpg) no-repeat right top;
	border: none;
}
.tb-shop .col-sub .box .hd h3 {
	height: 32px;
	width: 190px;
	margin: 0;
	padding: 0;
	background: none;
}
.tb-shop .col-main .box .hd h3 {
	height: 32px;
	width: 750px;
	margin: 0;
	padding: 0;
	background: none;
}
.tb-shop .col-sub .box .hd span {
	height: 32px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 32px;
	padding: 0;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-indent: 5px;
}
.tb-shop .col-main .box .hd span{
	height: 32px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 32px;
	padding: 0;
	font-size: 14px;
	color: #000;
	font-weight: bold;
	text-indent: 5px;
}
.tb-shop .col-sub .box .bd,
.tb-shop .col-main .box .bd {
	border: none;
	background: #fff;
	margin: 0;
	padding: 0;
}

/* category */
.tb-shop .box .shop-category .bd {
	padding: 10px 0;
}
.tb-shop .box .shop-category .bd ul.cats {
	margin: 0;
	padding: 0;
	width: 190px;
}
.tb-shop .box .shop-category .bd ul li {
	border: none;
	padding: 0 0 10px 30px;
	width: 160px;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2o0utXoBXXXXXXXXX_!!446388887.jpg) no-repeat 8px 15px;
}
.tb-shop .box .shop-category .bd ul li.expand {
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2k0utXoFXXXXXXXXX_!!446388887.jpg) no-repeat 8px 15px;
}
.tb-shop .box .shop-category .bd ul li h4 {
	background: none;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-category .bd ul li h4 a {
	display: block;
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2HJatXfhaXXXXXXXX_!!446388887.jpg) no-repeat;
	width: 160px;
	height: 40px;
	color: #fff;
	line-height: 40px;
	text-indent: 40px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}
.tb-shop .box .shop-category .bd ul li h4 a:hover {
	color: #f00;
}
.tb-shop .box .shop-category .bd ul li.expand h4 a {
	
}
.tb-shop .box .shop-category .bd ul li.expand h4 a:hover {

}
.tb-shop .box .shop-category .bd ul li.expand ul {
	margin: 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li {
	padding: 0 0 5px 0;
	margin: 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a {
	display: block;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2NI9tXgxaXXXXXXXX_!!446388887.jpg) no-repeat;
	width: 160px;
	height: 40px;
	color: #606160;
	line-height: 40px;
	text-indent: 40px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a:hover {
	color: #f00;
}

/* goods price */
.shop-list .item .price {
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2TtutXnNXXXXXXXXX_!!446388887.jpg) no-repeat 20px 0;
	height: 24px;
	overflow: hidden;
	line-height: 24px;
	padding: 0;
	margin: 5px 0 0 0;
}
.small .shop-list .item .price {
	background-position: 0 0;
}
.big .shop-list .item .price {
	background-position: 40px 0;
}
.shop-list .item .price span {
	display: none;
}
.shop-list .item .price strong {
	color: #B70903;
	font-weight: bold;
	display: block;
	text-indent: 65px;
}
.small .shop-list .item .price strong {
	text-indent: 55px;
}
.big .shop-list .item .price strong {
	text-indent: 55px;
}
.tb-shop .box .bd p.more-items {
	height: 40px;
}
.tb-shop .box .bd p.more-items a {
	display: block;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2ItutXn4XXXXXXXXX_!!446388887.jpg) no-repeat;
	border: none;
	width: 72px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0 20px 0 0;
	filter: alpha(opacity=100);
	-ms-filter: alpha(opacity=100);
}
.tb-shop .box .bd p.more-items a:hover {
	text-decoration: underline;
}

/* friends links */
.tb-shop .box .shop-links .bd {
	padding: 10px;
}
.tb-shop .box .shop-links .bd li {
	list-style: inside;
	margin: 0 0 3px;
}
.tb-shop .box .shop-links .bd li a {
	color: #000;
}
.tb-shop .box .shop-links .bd li a:hover {
	text-decoration: underline;
}

/* goods rank */
.tb-shop .box .shop-rank .bd .rank-tab {
	padding: 15px 0 0 0;
}
/* 
.tb-shop .box .shop-rank .tab-nav {
	height: 28px;
}
.tb-shop .box .shop-rank .tab-nav li span {
	color: #A5A5A5;
}
.tb-shop .box .shop-rank .tab-nav li {
	background-color: #D7D4D4;
    border: 1px solid #D7D4D4;
}
.tb-shop .box .shop-rank .tab-nav .selected {
    background-color: #960001;
    border: 1px solid #960001;
}
.tb-shop .box .shop-rank .rank-panels {
	border-top: 1px solid #960001;
}
*/

/* shop-slider */
.tb-shop .box .shop-slider .bd {
	border: none;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger {
	bottom: 10px;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger li {
	background-color: #fff;
	border: 1px solid #9FA09F;
	width: 20px;
	height: 20px;
	line-height: 20px;
	color: #9FA09F;
}
.tb-shop .box .shop-slider .bd ul.lst-trigger li.current {
	background: #F737A1;
	border: 1px solid #F737A1;
	color: #fff;
	font-weight: bold;
}

/* 
************************************************************************
************************************************************************
************************************************************************
 */
/* left banner */
.m_slide_banner_num {
	height: 450px;
	overflow: hidden;
	position: relative;
	width: 190px;
}
.m_slide_banner_num .ks-switchable-nav {
	bottom: 40px;
	position: absolute;
	right: 65px;
	z-index: 99;
}
.m_slide_banner_num .ks-switchable-nav li {
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	color: #fff;
	cursor: pointer;
	float: left;
	height: 10px;
	line-height: 10px;
	margin-left: 5px;
	text-indent: -999em;
	width: 10px;
}
.m_slide_banner_num .ks-switchable-nav li.ks-active {
	background: #E5017F;
	border: 1px solid #fff;
}
.m_slide_banner_num .ks-switchable-content li {
	height: 450px;
	overflow: hidden;
	width: 190px;
	position: relative;
	z-index: 5;
}
.m_slide_banner_num .ks-switchable-content li p {
	height: 30px;
	line-height: 30px;
	width: 190px;
	text-align: center;
	font-weight: bold;
	color: #FA018B;
	font-size: 14px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 10;
	background: #000;
}
.m_slide_banner_num .ks-switchable-content li img{
	height: 450px;
	width: 190px;
}

/* right banner */
.dm_slide_kapan {
	position: relative;
	width: 750px;
	height: 450px;
	overflow: hidden;
}
.dm_slide_kapan .ks-switchable-nav {
	position: absolute;
	width: 750px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	bottom: 0;
	right: 0;
	z-index: 99;
}
.dm_slide_kapan .ks-switchable-nav li {
	float: left;
	width: 186px;
	overflow: hidden;	
	text-align: center;
	cursor: pointer;
	background: rgba(135, 136, 135, 0.8);
	*background: #878887;
	border-right: 1px solid #fff;
}
.dm_slide_kapan .ks-switchable-nav li.last {
	border: none;
	width: 189px;
}
.dm_slide_kapan .ks-switchable-nav li a {
	display: block;
	color: #fff;
	font-weight: bold;
}
.dm_slide_kapan .ks-switchable-nav li.ks-active a,
.dm_slide_kapan .ks-switchable-nav li a:hover {
	background: #000;
	color: #EA027E;
}
.dm_slide_kapan .ks-switchable-content li {
	width: 750px;
	height: 450px;
	overflow: hidden;
}
.dm_slide_kapan .ks-switchable-content li img {
	width: 750px;
	height: 450px;
}