<div class="kefuqu">
	<table width="100%">
		<tbody>
			<tr>
				<td colspan="6">
					<div class="m_hd">
						客服区
					</div>
				</td>
			</tr>
			<tr height="34">
				<td>小二:</td>
				<td><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
				<td>小二:</td>
				<td><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
				<td>小二:</td>
				<td><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
			</tr>
			<tr height="34">
				<td>小二:</td>
				<td><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
				<td>小二:</td>
				<td><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
				<td>小二:</td>
				<td><a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxx&siteid=cntaobao&status=2&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxx&site=cntaobao&s=2&charset=utf-8" alt="点这里给我发消息" /></a></td>
			</tr>
			<tr height="34">
				<td colspan="6" align="center">
					工作时间：9：00AM - 23：00PM
				</td>
			</tr>
			<tr height="34">
				<td colspan="6" align="center">
					温馨提示：请联系点亮的旺旺！
				</td>
			</tr>
			<tr height="22">
				<td colspan="6">
					
				</td>
			</tr>
		</tbody>
	</table>
</div>