<div class="f950_ri">
	<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="750">
	  <tr>
	   <td colspan="3" width="613" height="64" align="center" valign="middle" style="background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2_oFUXnNbXXXXXXXX_!!446388887.jpg) no-repeat;" class="en" data-attr-replace="[{'type':'innerHTML','desc':'修改文字'}]">NEW GOODS</td>
	   <td rowspan="3"><img name="f950_ri_r1_c4" src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2730PXihdXXXXXXXX_!!446388887.jpg" width="137" height="110" id="f950_ri_r1_c4" alt="" /></td>
	  </tr>
	  <tr>
	   <td rowspan="2"><img name="f950_ri_r2_c1" src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2F14TXoRcXXXXXXXX_!!446388887.jpg" width="268" height="46" id="f950_ri_r2_c1" alt="" /></td>
	   <td width="82" height="23" style="background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2iY8UXkXcXXXXXXXX_!!446388887.jpg) no-repeat;" align="center" valign="middle" class="cn" data-attr-replace="[{'type':'innerHTML','desc':'修改文字'}]">新品上架</td>
	   <td rowspan="2"><img name="f950_ri_r2_c3" src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2QMJ8XcVbXXXXXXXX_!!446388887.jpg" width="263" height="46" id="f950_ri_r2_c3" alt="" /></td>
	  </tr>
	  <tr>
	   <td><img name="f950_ri_r3_c2" src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2AehVXapcXXXXXXXX_!!446388887.jpg" width="82" height="23" id="f950_ri_r3_c2" alt="" /></td>
	  </tr>
	</table>
</div>