<div class="dm-carousel J_TWidget" data-widget-type="Carousel" data-widget-config="{'effect':'scrollx', 'prevBtnCls':'btn-prev', 'nextBtnCls':'btn-next'}">
    <a class="btn-prev"></a>
    <a class="btn-next"></a>
    <div class="dm-box">
        <ul class="ks-switchable-content">
            <li>
                <div class="cf">
                    <div class="pic">
                        <a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为300x300'}]"></a>
                    </div>
                    <div class="desc">
                        <div class="btts">
                            <p class="biaoti" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的标题'}]">这里是宝贝标题</p>
                            <p class="tese" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的特色'}]">这里输入您的宝贝宝贝特色描述</p>
                        </div>
                        <div class="price"><a href="http://item.taobao.com/item.htm?id=14278206832" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝1]的价格'}]">￥120</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="cf">
                    <div class="pic">
                        <a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为300x300'}]"></a>
                    </div>
                    <div class="desc">
                       <div class="btts">
                            <p class="biaoti" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的标题'}]">这里是宝贝标题</p>
                            <p class="tese" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的特色'}]">这里输入您的宝贝宝贝特色描述</p>
                        </div>
                        <div class="price"><a href="http://item.taobao.com/item.htm?id=14278206832" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝2]的价格'}]">￥120</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="cf">
                    <div class="pic">
                        <a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为300x300'}]"></a>
                    </div>
                    <div class="desc">
                        <div class="btts">
                            <p class="biaoti" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的标题'}]">这里是宝贝标题</p>
                            <p class="tese" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的特色'}]">这里输入您的宝贝宝贝特色描述</p>
                        </div>
                        <div class="price"><a href="http://item.taobao.com/item.htm?id=14278206832" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝3]的价格'}]">￥120</a></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="cf">
                    <div class="pic">
                        <a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝4]的宝贝购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝4]的图片地址，大小尺寸为300x300'}]"></a>
                    </div>
                    <div class="desc">
                        <div class="btts">
                            <p class="biaoti" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝4]的标题'}]">这里是宝贝标题</p>
                            <p class="tese" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝4]的特色'}]">这里输入您的宝贝宝贝特色描述</p>
                        </div>
                        <div class="price"><a href="http://item.taobao.com/item.htm?id=14278206832" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★[宝贝4]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★[宝贝4]的价格'}]">￥120</a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    
    <ul class="ks-switchable-nav">
        <li class="ks-active">
            <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为60x60'}]" />
        </li>
        <li>
            <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为60x60'}]" />
        </li>
        <li>
            <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为60x60'}]" />
        </li>
        <li>
            <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝4]的图片地址，大小尺寸为60x60'}]" />
        </li>
    </ul>
</div>