<table>
	<tbody>
		<tr>
			<td>
				<div style="height: 450px; overflow: hidden; text-align: center;">
					<table width="100%">
						<tbody>
							<tr>
								<td>
									<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T250dIXeJcXXXXXXXX_!!446388887.jpg" width="190" height="190" alt="">
								</td>
							</tr>
							<tr>
								<td align="center" style="color: #545A5A; font-weight: bold; font-size: 16px; padding: 10px 0;">
									<p>店主：虫儿飞</p>
									<p>长居地：湖南</p>
								</td>
							</tr>
							<tr>
								<td align="left" style="color: #545A5A; font-weight: bold; font-size: 14px; line-height: 24px; padding: 0 10px;">
									爱看书 爱电影 爱拍照 也爱音乐<br>
									爱长裙，白衣飘飘或暗花镶边；<br>
									粗麻布衣和帆布跑鞋。<br>
									喜安静爱思考<br>
									一半忧伤，一半明媚。
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div><img src="http://img04.taobaocdn.com/imgextra/i4/T11AO9XgptXXcpU0s2-446388887.jpg"></div>
			</td>
		</tr>
		<tr>
			<td>
				<ul class="rm-le">
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝1的购买页地址'}]">
							<div>
								<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lVXHXclMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝1的图片地址，图片尺寸大小为190X310'}]">
							</div>
							<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的标题和价格'}]">
								请使用编辑元素修改该模块所有信息
							</p>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝2的购买页地址'}]">
							<div>
								<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2VeBwXoBMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝2的图片地址，图片尺寸大小为190X310'}]">
							</div>
							<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的标题和价格'}]">
								请使用编辑元素修改该模块所有信息
							</p>
						</a>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>
				<div style="height: 150px; overflow: hidden; text-align: center;">
					<table width="100%" style="border-spacing: 12px; color: #000; font-weight: bold;">
						<tbody>
							<tr>
								<td width="80" align="right">
									客服小二：
								</td>
								<td align="left">
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td width="80" align="right">
									客服小二：
								</td>
								<td align="left">
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td width="80" align="right">
									客服小二：
								</td>
								<td align="left">
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td width="80" align="right">
									客服小二：
								</td>
								<td align="left">
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
	</tbody>
</table>