<ul class="mgj mgj-ri">
	<li class="one">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝1的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2JPiDXbdbXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝1的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="two">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝2的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2mfxwXllMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝2的图片地址，图片尺寸大小为220X220'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="three">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝3的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T20CtyXb8NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝3的图片地址，图片尺寸大小为220X265'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝3的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝3的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="four">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝4的购买页地址'}]">
			<div>
				<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2.6lwXkBMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝4的图片地址，图片尺寸大小为220X220'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝4的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝4的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="five">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝5的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2pw5DXk4aXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝5的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝5的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝5的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="six">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝6的购买页地址'}]">
			<div>
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2nb8pXn4MXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝6的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝6的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝6的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
</ul>