<ul class="rm-ri">
	<li class="pl23">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝1的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2pw5DXk4aXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝1的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的标题和价格'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="plr33">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝2的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2JPiDXbdbXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝2的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的标题和价格'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li>
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝3的购买页地址'}]">
			<div>
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2nb8pXn4MXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝3的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝3的标题和价格'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="pl23">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝4的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2pw5DXk4aXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝4的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝4的标题和价格'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="plr33">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝5的购买页地址'}]">
			<div>
				<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2JPiDXbdbXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝5的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝5的标题和价格'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li>
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝6的购买页地址'}]">
			<div>
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2nb8pXn4MXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝6的图片地址，图片尺寸大小为220X310'}]">
			</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝6的标题和价格'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
</ul>