<div class="t_banner">
	<div class="J_TWidget dm_slide_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
		<ul class="ks-switchable-content">
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【1】的宝贝购买页地址'}]">
					<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2ycOtXnVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【1】的图片地址，尺寸大小为190x420'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【2】的宝贝购买页地址'}]">
					<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2ycOtXnVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【2】的图片地址，尺寸大小为190x420'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【3】的宝贝购买页地址'}]">
					<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2ycOtXnVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【3】的图片地址，尺寸大小为190x420'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【4】的宝贝购买页地址'}]">
					<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2ycOtXnVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【4】的图片地址，尺寸大小为190x420'}]" />
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="shoucang" style="margin: 10px 0;">
	<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T250itXbRaXXXXXXXX_!!446388887.gif" alt=""></a>
</div>

<div class="fkrm_l">
	<div class="c_hd"></div>

	<div class="c_bd">
		<div class="grid">
			<ul class="shop-list">
				<li>
					<div class="item">
						<div class="pic">
							<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝1的购买页地址'}]">
								<img src="http://img04.taobaocdn.com/bao/uploaded/i4/T1S255Xo4nXXan_T.9_104731.jpg_160x160.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝1的图片地址，图片尺寸大小为160X160'}]">
							</a>
						</div>
						<div class="desc">
							<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝热卖贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的标题'}]"> 宝贝描述设计(测试)宝贝描述设计(测试)宝贝描述设计(测试) </a>
						</div>
						<div class="price">
							<div class="now">
								<span>一口价</span>
								<strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的价格'}]">200.00元</strong>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item">
						<div class="pic">
							<a href="http://item.taobao.com/item.htm?id=16496512683" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝2的购买页地址'}]">
								<img src="http://img02.taobaocdn.com/bao/uploaded/i2/T1Gxa5XidlXXX_pCo9_104508.jpg_160x160.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝2的图片地址，图片尺寸大小为160X160'}]">
							</a>
						</div>
						<div class="desc">
							<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=16496512683" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝热卖贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的标题'}]"> 宝贝描述设计(测试) </a>
						</div>
						<div class="price">
							<div class="now">
								<span>一口价</span>
								<strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的价格'}]">600.00元</strong>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="item">
						<div class="pic">
							<a href="http://item.taobao.com/item.htm?id=16496512683" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝3的购买页地址'}]">
								<img src="http://img02.taobaocdn.com/bao/uploaded/i2/T1Gxa5XidlXXX_pCo9_104508.jpg_160x160.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝3的图片地址，图片尺寸大小为160X160'}]">
							</a>
						</div>
						<div class="desc">
							<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=16496512683" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝热卖贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝3的标题'}]"> 宝贝描述设计(测试) </a>
						</div>
						<div class="price">
							<div class="now">
								<span>一口价</span>
								<strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝3的价格'}]">600.00元</strong>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>