<div style="height: 150px; overflow: hidden; text-align: center;">
	<table width="100%" style="border-spacing: 12px; color: #000; font-weight: bold;">
		<tbody>
			<tr>
				<td width="80" align="right">
					客服小二：
				</td>
				<td align="left">
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
			<tr>
				<td width="80" align="right">
					客服小二：
				</td>
				<td align="left">
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
			<tr>
				<td width="80" align="right">
					客服小二：
				</td>
				<td align="left">
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
			<tr>
				<td width="80" align="right">
					客服小二：
				</td>
				<td align="left">
					<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>