<ul class="mgj mgj-le">
	<li class="one">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝1的购买页地址'}]">
			<div>
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2RAtzXn8MXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝1的图片地址，图片尺寸大小为190X310'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
	<li class="two">
		<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝2的购买页地址'}]">
			<div>
				<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2cMxHXbxMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝2的图片地址，图片尺寸大小为190X310'}]">
			</div>
			<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的价格'}]">￥ 198</div>
			<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的标题'}]">
				请使用编辑元素修改该模块所有信息
			</p>
		</a>
	</li>
</ul>