<div style="height: 810px; overflow: hidden;">
	<table width="100%">
		<tbody>
			<tr>
				<td align="left" width="300">
					<a href="http://item.taobao.com/item.htm?id=16496512683" title="这个是宝贝标题哦，请购买后自行修改~~~" class="no-2" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝1的标题'}]" target="_blank">
						<div><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2G9FxXaNNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为280x390'}]"></div>
					</a>
				</td>
				<td valign="top">
					<table width="100%">
						<tbody>
							<tr>
								<td><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2AYxJXcBcXXXXXXXX_!!446388887.jpg" alt=""></td>
								<td align="left" style="color: #A48C60; font-weight: bold; font-size: 16px; vertical-align: bottom;">春之怀古</td>
							</tr>
							<tr>
								<td colspan="2" style="color: #4A4A49; font-weight: bold; line-height: 24px; padding: 25px 0 0 20px;">
									春天必然曾经是这样的：从绿意内敛的山头，<br>
									一把雪再也撑不住了，噗嗤的一声，将冷面笑成花面，<br>
									一首澌澌然的歌便从云端唱到山麓，<br>
									从山麓唱到低低的荒村，<br>
									唱入篱落，唱入一只小鸭的黄蹼，<br>
									唱入软溶溶的春泥--软如一床新翻的棉被的春泥。 <br>
									那样娇，那样敏感，却又那样浑沌无涯。<br>
									一声雷，可以无端地惹哭满天的云，<br>
									一阵杜鹃啼，可以斗急了一城杜鹃花，<br>
									一阵风起，每一棵柳都会吟出一则则白茫茫、虚飘飘<br>
									说也说不清、听也听不清的飞絮，<br>
									每一丝飞絮都是一株柳的......
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<table width="100%" style="margin: 45px 0 0 0;">
		<tbody>
			<tr>
				<td align="left">
					<table width="100%">
						<tbody>
							<tr>
								<td align="left" width="60"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2SVVJXbpcXXXXXXXX_!!446388887.jpg" alt=""></td>
								<td align="left" style="color: #A48C60; font-weight: bold; font-size: 16px; vertical-align: bottom;">姑娘</td>
							</tr>
							<tr>
								<td align="right" colspan="2" style="color: #4A4A49; font-weight: bold; line-height: 20px; padding: 5px 0;">
									亲爱的姑娘。<br>
									自己喜欢的东西自己存钱买。<br>
									不要奢望别人买。 <br>
									亲爱的姑娘。<br>
									减肥说说就好。<br>
									你要知道。<br>
									你以后的路还有很长。<br>
									健康的身体是你走下去的保证。<br>
									亲爱的姑娘。<br>
									每个人都会累。<br>
									没人能为你承担所有伤悲。<br>
									人总有一段时间要学会自己长大。<br>
									我翻出了那件背带的牛仔裙<br>
									细数年少时的往事<br>
									却不小心笑出了眼泪<br>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td align="right">
					<a href="http://item.taobao.com/item.htm?id=16496512683" title="这个是宝贝标题哦，请购买后自行修改~~~" target="_blank" class="no-3" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝2的标题'}]">
						<div><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2vQqDXctXXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为500x340'}]"></div>
					</a>
				</td>	
			</tr>
		</tbody>
	</table>
</div>

<div class="gonggao">
	<div class="c_bd">
		<marquee direction="up" scrollamount="2">
			<font data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">   	为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！</font>
		</marquee>
	</div>
</div>

<div class="J_TWidget dm_slide_kapan" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true}">
	<ul class="ks-switchable-content">
    	<li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vkeDXh0aXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸750X350'}]" /></a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vkeDXh0aXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸750X350'}]" /></a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vkeDXh0aXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸750X350'}]" /></a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2vkeDXh0aXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸750X350'}]" /></a></li>
    </ul>
    
    <ul class="ks-switchable-nav">
    	<li class="ks-active"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图1]的文字标题'}]">标题1，大图尺寸为750X350</a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图2]的文字标题'}]">标题2，大图尺寸为750X350</a></li>
        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图3]的文字标题'}]">标题3，大图尺寸为750X350</a></li>
        <li class="last"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图4]的文字标题'}]">标题4，大图尺寸为750X350</a></li>
    </ul>
</div>