<div class="J_TWidget dm_accordion_valign" data-widget-type="Accordion" data-widget-config="{'triggerType':'mouse'}">

	<div class="ks-switchable-trigger ks-active">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝1]的文字标题'}]">TOP01</div>
	</div>
	<div class="ks-switchable-panel">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝1]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝1]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝1]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝2]的文字标题'}]">TOP02</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝2]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝2]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝2]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝3]的文字标题'}]">TOP03</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝3]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝3]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝3]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝4]的文字标题'}]">TOP04</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝4]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝4]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝4]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝5]的文字标题'}]">TOP05</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝5]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝5]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝5]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝6]的文字标题'}]">TOP06</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝6]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝6]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝6]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝7]的文字标题'}]">TOP07</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝7]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝7]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝7]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝8]的文字标题'}]">TOP08</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝8]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝8]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝8]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝9]的文字标题'}]">TOP09</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝9]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝9]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝9]的价格'}]">4999</p>
	</div>

	<div class="ks-switchable-trigger">
		<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝10]的文字标题'}]">TOP10</div>
	</div>
	<div class="ks-switchable-panel hide">
		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'[宝贝10]的购买页地址'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2QZdlXX0NXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'[宝贝10]的图片地址，尺寸大小为160X160'}]" />
		</a>
		<p data-attr-replace="[{'type':'innerHTML', 'desc':'[宝贝10]的价格'}]">4999</p>
	</div>
	
</div>