<div class="f950_ri">
	<table width="750" height="60">
		<tbody>
			<tr>
				<td width="620" height="60" align="center" valign="middle" class="en" data-attr-replace="[{'type':'innerHTML','desc':'修改文字'}]">NEW GOODS</td>
				<td width="130">
					
				</td>
			</tr>
		</tbody>
	</table>
	<table width="750" height="30">
		<tbody>
			<tr>
				<td width="265" height="30">
					
				</td>
				<td width="87" align="center" valign="middle" class="cn" data-attr-replace="[{'type':'innerHTML','desc':'修改文字'}]">新品上架</td>
				<td width="398">
					
				</td>
			</tr>
		</tbody>
	</table>
</div>