<div class="dapei">
	<div class="m_hd">
		<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2swlFXixMXXXXXXXX_!!446388887.jpg" alt="">
	</div>
	<div class="m_bd">
		<div class="le">
			<ul>
				<li>
					<a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝1]的宝贝购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2fbpZXaBcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为180x180'}]">
						<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的标题'}]">五彩个性皮带</p>
					</a>
				</li>
				<li>
					<a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝2]的宝贝购买页地址'}]">
						<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2cF1EXbVXXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为180x180'}]">
						<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的标题'}]">高跟皮靴</p>
					</a>
				</li>
				<li>
					<a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝3]的宝贝购买页地址'}]">
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2eOdGXhRMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为180x180'}]">
						<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的标题'}]">黑色紧身长裤</p>
					</a>
				</li>
				<li>
					<a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝4]的宝贝购买页地址'}]">
						<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T27RFWXgFcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝4]的图片地址，大小尺寸为180x180'}]">
						<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝4]的标题'}]">五彩宽松上衣</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="ri">
			<a target="_blank" href="http://item.taobao.com/item.htm?id=14278206832" data-
                    attr-replace="[{'type':'href', 'desc':'★★★[宝贝5]的宝贝购买页地址'}]">
				<img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T22ndWXdtcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝5]的图片地址，大小尺寸为180x180'}]">
				<p data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝5]的标题'}]">整装搭配效果展示</p>
			</a>
		</div>
	</div>
</div>