<div class="gezi gezi_ri">
	<div class="a">
		<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝1的标题'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2ChppXnlMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为160x160'}]">
		</a>
	</div>
	<div class="b">
		<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝2的标题'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2zEFkXhdNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为160x160'}]">
		</a>
	</div>
	<div class="c">
		<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝3的标题'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T21SpbXe4NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为160x160'}]">
		</a>
	</div>
	<div class="d">
		<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝4的标题'}]">
			<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2zFpuXmtMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为230x230'}]">
		</a>
	</div>
	<div class="e">
		<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝5的标题'}]">
			<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Iy4vXlVMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的图片地址，图片尺寸大小为230x230'}]">
		</a>
	</div>
	<div class="f">
		<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝6的标题'}]">
			<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2dPlhXcXNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝6的图片地址，图片尺寸大小为230x230'}]">
		</a>
	</div>
	<div class="g">
		<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝7的标题'}]">
			<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2x1ptXbVNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝7的图片地址，图片尺寸大小为260x170'}]">
		</a>
	</div>
</div>