<table width="100%">
	<tbody>
		<tr>
			<td>
				<div class="J_TWidget dm_slide_kapan" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true}">
					<ul class="ks-switchable-content">
				    	<li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2yYdXXglNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸750x450'}]" /></a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2yYdXXglNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸750x450'}]" /></a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2yYdXXglNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸750x450'}]" /></a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2yYdXXglNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸750x450'}]" /></a></li>
				    </ul>
				    
				    <ul class="ks-switchable-nav">
				    	<li class="ks-active"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图1]的文字标题'}]">标题1，大图尺寸为750x450</a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图2]的文字标题'}]">标题2，大图尺寸为750x450</a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图3]的文字标题'}]">标题3，大图尺寸为750x450</a></li>
				        <li class="last"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图4]的文字标题'}]">标题4，大图尺寸为750x450</a></li>
				    </ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="margin: 10px 0;">
					<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★新品推荐的购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2ScBqXktMXXXXXXXX_!!446388887.jpg" alt=""></a>
					<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★活动专区的购买页地址'}]" style="padding: 0 23px;"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2ouxuXdtNXXXXXXXX_!!446388887.jpg" alt=""></a>
					<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2Ug4vXitMXXXXXXXX_!!446388887.jpg" alt=""></a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="gezi gezi_ri">
					<div class="a">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝1的标题'}]">
							<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2ChppXnlMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为160x160'}]">
						</a>
					</div>
					<div class="b">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝2的标题'}]">
							<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2zEFkXhdNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为160x160'}]">
						</a>
					</div>
					<div class="c">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝3的标题'}]">
							<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T21SpbXe4NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为160x160'}]">
						</a>
					</div>
					<div class="d">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝4的标题'}]">
							<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2zFpuXmtMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为230x230'}]">
						</a>
					</div>
					<div class="e">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝5的标题'}]">
							<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Iy4vXlVMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的图片地址，图片尺寸大小为230x230'}]">
						</a>
					</div>
					<div class="f">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝6的标题'}]">
							<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2dPlhXcXNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝6的图片地址，图片尺寸大小为230x230'}]">
						</a>
					</div>
					<div class="g">
						<a href="http://www.taobao.com/" target"_blank" title="这里是宝贝标题文字" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}, {'type':'title', 'desc':'★ ★ ★ 宝贝7的标题'}]">
							<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2x1ptXbVNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝7的图片地址，图片尺寸大小为260x170'}]">
						</a>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="dhgg" style="margin: 10px 0;">
					<div class="daohang">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							快速导航
						</div>

						<div class="keywords">
							<dl>
								<dt>按种类分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
							<dl>
								<dt>按性能分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
							<dl>
								<dt>按价格分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
							<dl>
								<dt>按种类分</dt>
								<dd>
									<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>|<a href="#">手机</a>|<a href="#">笔记本</a>
								</dd>
							</dl>
						</div>
					</div>

					<div class="gg">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							公告
						</div>
						<div class="c_bd">
							<marquee direction="up" scrollamount="2" height="130" width="180">
								<font data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">   	为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！</font>
							</marquee>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="background: url(http://img03.taobaocdn.com/imgextra/i3/T1QraBXdd0XXcpU0s2-446388887.jpg) no-repeat scroll right top transparent; color: #fff; font-size: 18px; font-weight: bold; height: 50px; line-height: 50px; text-indent: 10px;">新品区</div>
				<ul class="xinpinqu xinpinqu_right">
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
							<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2zFpuXmtMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
							<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Iy4vXlVMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]">
							<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2dPlhXcXNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]">
							<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2dPlhXcXNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}]">
							<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2zFpuXmtMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}]">
							<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Iy4vXlVMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝6的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}]">
							<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Iy4vXlVMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝7的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝8的购买页地址'}]">
							<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2dPlhXcXNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝8的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝8的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝8的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
					<li>
						<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝9的购买页地址'}]">
							<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2zFpuXmtMXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝9的图片地址，图片尺寸大小为230x230'}]">
							<div class="info">
								<div class="title" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝9的标题'}]">这里是宝贝标题</div>
								<div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝9的价格'}]">RMB:168</div>
							</div>
						</a>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>