<table width="100%">
	<tbody>
		<tr>
			<td>
				<div class="J_TWidget m_slide_banner_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
					<ul class="ks-switchable-content">
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝购买页地址★★★'}]">
								<img src="http://img02.taobaocdn.com/imgextra/i2/T1.f5jXoNDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【1】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝标题★★★'}]">潮流春装</p>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝购买页地址★★★'}]">
								<img src="http://img02.taobaocdn.com/imgextra/i2/T1.f5jXoNDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【2】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝标题★★★'}]">潮流夏装</p>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝购买页地址★★★'}]">
								<img src="http://img02.taobaocdn.com/imgextra/i2/T1.f5jXoNDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【3】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝标题★★★'}]">潮流秋装</p>
						</li>
						<li>
							<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝购买页地址★★★'}]">
								<img src="http://img02.taobaocdn.com/imgextra/i2/T1.f5jXoNDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【4】的图片地址，尺寸大小为190x450★★★'}]" />
							</a>
							<p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝标题★★★'}]">潮流冬装</p>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2rhhrXahNXXXXXXXX_!!446388887.jpg) right top; color: #000000; font-size: 14px; font-weight: bold; height: 32px; line-height: 32px; text-indent: 5px; margin: 10px 0 0;">客服专区</div>
				<div style="height: 163px; overflow: hidden; margin: 0 0 10px;">
					<table width="100%" style="border-spacing: 8px;">
						<tbody>
							<tr>
								<td>
									<img src="http://img01.taobaocdn.com/imgextra/i1/T1HR9qXfN2XXcpU0s2-446388887.jpg" alt="">
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									
								</td>
								<td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									客服小二：
								</td>
								<td>
									<a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8"><img border="0" src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8" alt="点这里给我发消息" /></a>
								</td>
							</tr>
							<tr>
								<td>
									<img src="http://img01.taobaocdn.com/imgextra/i1/T1HR9qXfN2XXcpU0s2-446388887.jpg" alt="">
								</td>
								<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									电话：13333333333
								</td>
							</tr>
							<tr>
								<td>
									<img src="http://img01.taobaocdn.com/imgextra/i1/T1HR9qXfN2XXcpU0s2-446388887.jpg" alt="">
								</td>
								<td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
									在线：9:00 AM -- 23:00 PM
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="fdj fdj-left">
					<div class="good a1-le">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a1-le',
					          'align':{
					                  'node':'.a1-le',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
							       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a2-le">
						<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2qhVFXgtMXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a2-le',
					          'align':{
					                  'node':'.a2-le',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
							       <img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2qhVFXgtMXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="shoucang" style="margin: 10px 0 0 0;">
					<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/T15hyjXc4LXXcpU0s2-446388887.jpg" alt=""></a>
				</div>
			</td>
		</tr>
	</tbody>
</table>