<div>
	<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★新品推荐的购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2DUhbXdRNXXXXXXXX_!!446388887.jpg" alt=""></a>
	<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★活动专区的购买页地址'}]" style="padding: 0 5px;"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2u_paXfRNXXXXXXXX_!!446388887.jpg" alt=""></a>
	<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★人气宝贝的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2xdhbXgJMXXXXXXXX_!!446388887.jpg" alt=""></a>
</div>