<table width="100%">
	<tbody>
		<tr>
			<td>
				<div class="J_TWidget dm_slide_kapan" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true}">
					<ul class="ks-switchable-content">
				    	<li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/T140OjXkFDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸750x450'}]" /></a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/T140OjXkFDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸750x450'}]" /></a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/T140OjXkFDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸750x450'}]" /></a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/T140OjXkFDXXcpU0s2-446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸750x450'}]" /></a></li>
				    </ul>
				    
				    <ul class="ks-switchable-nav">
				    	<li class="ks-active"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图1]的文字标题'}]">标题1，大图尺寸为750x450</a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图2]的文字标题'}]">标题2，大图尺寸为750x450</a></li>
				        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图3]的文字标题'}]">标题3，大图尺寸为750x450</a></li>
				        <li class="last"><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图4]的文字标题'}]">标题4，大图尺寸为750x450</a></li>
				    </ul>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="dhgg" style="margin: 10px 0;">
					<div class="daohang">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							热门关键词
						</div>

						<div class="keywords">
							<table width="100%">
								<tbody>
									<tr>
										<td width="90" height="35" align="right" valign="middle"><div class="kw_title">按种类分</div></td>
										<td width="440" align="left" valign="middle"><a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a></td>
									</tr>
									<tr>
										<td width="90" height="35" align="right" valign="middle"><div class="kw_title">按性能分</div></td>
										<td width="440" align="left" valign="middle"><a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a></td>
									</tr>
									<tr>
										<td width="90" height="35" align="right" valign="middle"><div class="kw_title">按价格分</div></td>
										<td width="440" align="left" valign="middle"><a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a></td>
									</tr>
									<tr>
										<td width="90" height="35" align="right" valign="middle"><div class="kw_title">按种类分</div></td>
										<td width="440" align="left" valign="middle"><a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">笔记本</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<div class="gg">
						<div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
							公告
						</div>
						<div class="c_bd">
							<marquee direction="up" scrollamount="2" height="130" width="180">
								<font data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">   	为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！</font>
							</marquee>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="fdj">
					<div class="good a1">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a1',
					          'align':{
					                  'node':'.a1',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
							       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a2">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a2',
					          'align':{
					                  'node':'.a2',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
							       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a3">
						<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2qhVFXgtMXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a3',
					          'align':{
					                  'node':'.a3',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]">
							       <img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2qhVFXgtMXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a4">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a4',
					          'align':{
					                  'node':'.a4',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]">
							       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a5">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a5',
					          'align':{
					                  'node':'.a5',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}]">
							       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a6">
						<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2qhVFXgtMXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝6的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a6',
					          'align':{
					                  'node':'.a6',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}]">
							       <img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2qhVFXgtMXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝6的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a7">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝7的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a7',
					          'align':{
					                  'node':'.a7',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}]">
							       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝7的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
					<div class="good a8">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝8的放大前的图片地址，图片尺寸大小为270x270'}]">		
							<div data-widget-config="{
					          'trigger':'.a8',
					          'align':{
					                  'node':'.a8',
					                  'offset':[0,0],
					                  'points':['cc','cc']
					                  }
					            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
							    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝8的购买页地址'}]">
							       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20pCEXgtaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝8的放大后的图片地址，图片尺寸大小为270x270'}]">
							       <div class="desc">
							       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝8的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
							       </div>
								</a>
							</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="margin: 10px 0 0 0;">
					<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★新品推荐的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/T1j9q6XlBvXXcpU0s2-446388887.jpg" alt=""></a>
					<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★活动专区的购买页地址'}]" style="padding: 0 5px;"><img src="http://img03.taobaocdn.com/imgextra/i3/T17AmiXcVSXXcpU0s2-446388887.jpg" alt=""></a>
					<a href="http://item.taobao.com/item.htm?id=16496472513" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★人气宝贝的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/T1UPS5XgVvXXcpU0s2-446388887.jpg" alt=""></a>
				</div>
			</td>
		</tr>
	</tbody>
</table>