<div class="dhm_re_remai dmh_g1">
    <ul>
        <li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝1的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T26vGeXglXXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝1的图片地址，图片尺寸大小为165X210'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝1的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝1的价格'}]">一口价：99.00</div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝2的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T26vGeXglXXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝2的图片地址，图片尺寸大小为165X210'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝2的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝2的价格'}]">一口价：99.00</div>
        </li>
		<li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝3的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T26vGeXglXXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝3的图片地址，图片尺寸大小为165X210'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝3的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝3的价格'}]">一口价：99.00</div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝4的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T26vGeXglXXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝4的图片地址，图片尺寸大小为165X210'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝4的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝4的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝4的价格'}]">一口价：99.00</div>
        </li>
		<li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝5的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T26vGeXglXXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝5的图片地址，图片尺寸大小为165X210'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝5的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝5的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝5的价格'}]">一口价：99.00</div>
        </li>
        <li>
            <div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝6的购买页地址'}]"><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T26vGeXglXXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热销宝贝6的图片地址，图片尺寸大小为165X210'}]" /></a></div>
            <div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热销宝贝6的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝6的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热销宝贝6的价格'}]">一口价：99.00</div>
        </li>
	</ul>
</div>