/* CSSÈ«¾Ö */
.dhm_pr {
	position: relative;
}
.dhm_pa {
	position: absolute;
}
.tb-shop a {
	color: #A5A5A5;
}
.tb-shop a:hover {
	color: #AB0000;
	text-decoration: none;
}
.cf:before, .cf:after {
	content: "";
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}
.shop-list .item .pic {
	border: 1px solid #D3D3D3;
}
.shop-list .item .pic:hover {
	border: 1px solid #4F0000;
}

/* Í·²¿ */
.tb-shop .main-wrap .box .shop-banner .bd {
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2WO5gXfNaXXXXXXXX_!!446388887.jpg) no-repeat 0 0;
	margin: 0;
	padding: 0;
	width: 950px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary {
	left: 0;
	top: 25px;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-logo {
	display: none;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title {
	width: 950px;
	text-align: center;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a {
	color: #EC0000;
	font-size: 34px;
} 
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title h2 a:hover {
	text-decoration: underline;
}
.tb-shop .box .shop-banner .bd .shop-header .shop-summary .shop-title p {
	color: #858484;
	padding: 10px 0 0 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav {
	height: 39px;
	overflow: hidden;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2n59gXe8aXXXXXXXX_!!446388887.jpg) no-repeat;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul {
	background: none;
	height: 39px;
	overflow: hidden;
	margin: 0;
	padding: 0 0 0 30px;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li {
	background: none;
	height: 39px;
	padding: 0;
	margin: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a {
	background: none;
	display: block;
	height: 39px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a em {
	background: none;
	color: #fff;
	font-size: 12px;
	display: block;
	height: 39px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	line-height: 39px;
	margin: 0;
	padding: 0 20px;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover {
	background: none;
}
.tb-shop .box .shop-banner .bd .shop-header .nav ul li.current a em,
.tb-shop .box .shop-banner .bd .shop-header .nav ul li a:hover em {
	color: #000;
}
.cat-items {
	border: 5px solid #000000;
	padding: 0;
}
.cat-items .cat-all {
	background: #000000;
	padding: 5px 10px;
	color: #fff;
}
.cat-items .cat-all a {
	color: #fff;
}
.cat-items .bd {
	padding: 5px 10px;
}
.cat-items .bd .cat-item {
	margin: 0 20px 20px 0;
	width: 216px;
}
.cat-items .bd .cat-item a {
	color: #171717;
}

/* ×óÓÒÁ½À¸Í¨ÓÃÑùÊ½ */
.tb-shop .col-sub .box£¬
.tb-shop .col-main .box {
	margin: 0 0 10px 0;
}
.tb-shop .col-sub .box .hd {
	height: 39px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2ri1gXh0aXXXXXXXX_!!446388887.jpg) no-repeat;
	border: none;
}
.tb-shop .col-main .box .hd {
	height: 51px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2wOWgXjtaXXXXXXXX_!!446388887.jpg) no-repeat;
	border: none;
}
.tb-shop .col-sub .box .hd h3 {
	height: 39px;
	width: 190px;
	margin: 0;
	padding: 0;
	background: none;
}
.tb-shop .col-main .box .hd h3 {
	height: 51px;
	width: 750px;
	margin: 0;
	padding: 0;
	background: none;
}
.tb-shop .col-sub .box .hd span {
	height: 39px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 39px;
	padding: 0;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-indent: 10px;
}
.tb-shop .col-main .box .hd span{
	height: 51px;
	display: block;
	margin: 0;
	padding: 0;
	background: none;
	line-height: 51px;
	padding: 0;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	text-indent: 10px;
}
.tb-shop .col-sub .box .bd,
.tb-shop .col-main .box .bd {
	border: none;
	background: #000000;
	margin: 0;
	padding: 0;
	color: #fff;
}

/* ±¦±´·ÖÀà */
.tb-shop .box .shop-category .bd {
	padding: 10px 0;
}
.tb-shop .box .shop-category .bd ul.cats {
	width: 190px;
	margin: 0;
	padding: 0;
}
.tb-shop .box .shop-category .bd ul li {
	border: none;
}
.tb-shop .box .shop-category .bd ul li h4 {
	background: none;
	margin: 0 0 5px 0;
	padding: 0;
}
.tb-shop .box .shop-category .bd ul li.expand h4 {
	background: none;
}
.tb-shop .box .shop-category .bd ul li h4 a {
	display: block;
	background: #650000;
	height: 30px;
	color: #fff;
	line-height: 30px;
	text-indent: 40px;
	font-size: 12px;
	font-weight: bold;
	overflow: hidden;
}
.tb-shop .box .shop-category .bd ul li h4 a:hover {
	color: #000;
}
.tb-shop .box .shop-category .bd ul li.expand h4 a {
	
}
.tb-shop .box .shop-category .bd ul li.expand h4 a:hover {
	
}
.tb-shop .box .shop-category .bd ul li.expand ul {
	margin: 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li {
	padding: 0;
	margin: 0;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a {
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T225SgXkdaXXXXXXXX_!!446388887.jpg) no-repeat;
	width: 190px;
	height: 33px;
	line-height: 32px;
	text-align: center;
	display: block;
	border: none;
	overflow: hidden;
	color: #A5A5A5;
	font-weight: bold;
	font-size: 12px;
}
.tb-shop .box .shop-category .bd ul li.expand ul li a:hover {
	color: #fff;
	background: #650000;
}

/* ÏµÍ³±¦±´¼Û¸ñ */
.shop-list .item .price,
.dm_list ul li .price {
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2ti9gXe0aXXXXXXXX_!!446388887.jpg) no-repeat 25px 0;
	height: 28px;
	overflow: hidden;
	line-height: 28px;
	padding: 0;
	margin: 5px 0 0 0;
}
.small .shop-list .item .price {
	background-position: 5px 0;
}
.big .shop-list .item .price {
	background-position: 40px 0;
}
.shop-list .item .price span {
	display: none;
}
.shop-list .item .price strong,
.dm_list ul li .price strong {
	color: #F90000;
	font-weight: bold;
	display: block;
	text-indent: 70px;
}
.small .shop-list .item .price strong {
	text-indent: 60px;
}
.big .shop-list .item .price strong {
	text-indent: 50px;
}
.tb-shop .box .bd p.more-items {
	height: 40px;
}
.tb-shop .box .bd p.more-items a {
	display: block;
	background: #4E0000;
	border: none;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin: 0 20px 0 0;
	filter: alpha(opacity=100);
	-ms-filter: alpha(opacity=100);
}
.tb-shop .box .bd p.more-items a:hover {
	text-decoration: underline;
}

/* ×Ô¶¨Òå±¦±´¼Û¸ñ */

/* goods */
.dm_list120 ul li {
	width: 124px;
	float: left;
	overflow: hidden;
	padding: 0 15px 15px 0;
	text-align: center;
}
.dm_list120 ul li .pic img {
	width: 120px;
	height: 120px;
}
.dm_list160 ul li {
	width: 164px;
	float: left;
	overflow: hidden;
	padding: 0 15px 15px 0;
	text-align: center;
}
.dm_list160 ul li .pic img {
	width: 160px;
	height: 160px;
}
.dm_list220 ul li {
	width: 224px;
	float: left;
	overflow: hidden;
	padding: 0 15px 15px 0;
	text-align: center;
}
.dm_list220 ul li .pic img {
	width: 220px;
	height: 220px;
}
.dm_list310 ul li {
	width: 314px;
	float: left;
	overflow: hidden;
	padding: 0 15px 15px 0;
	text-align: center;
}
.dm_list310 ul li .pic img {
	width: 310px;
	height: 310px;
}
.dm_list ul li .pic a {
	display: inline-block;
	border: 1px solid #CFCFCF;
}
.dm_list ul li .pic a:hover {
	border: 1px solid #8F0003;
}
.dm_list ul li .desc {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	margin: 5px auto;
}

/* ÓÑÇéÁ´½Ó */
.tb-shop .box .shop-links .bd {
	padding: 10px;
}
.tb-shop .box .shop-links .bd li {
	list-style: inside;
	margin: 0 0 3px;
}
.tb-shop .box .shop-links .bd li a {
	color: #a5a5a5;
}
.tb-shop .box .shop-links .bd li a:hover {
	text-decoration: underline;
}

/* ±¦±´ÅÅÐÐ°ñ */
.tb-shop .box .shop-rank .bd .rank-tab {
	padding: 15px 0 0 0;
}
.tb-shop .box .shop-rank .tab-nav {
	height: 28px;
}
.tb-shop .box .shop-rank .tab-nav li span {
	color: #A5A5A5;
}
.tb-shop .box .shop-rank .tab-nav li {
	background-color: #D7D4D4;
    border: 1px solid #D7D4D4;
}
.tb-shop .box .shop-rank .tab-nav .selected {
    background-color: #960001;
    border: 1px solid #960001;
}
.tb-shop .box .shop-rank .rank-panels {
	border-top: 1px solid #960001;
}

/* ÒÔÏÂÊÇ×Ô¶¨ÒåÄ£¿éµÄÑùÊ½ */

/* left-ÁªÏµÎÒÃÇ */
.dhm_linkus {
	text-align: center;
	color: #A3A1A1;
}
.dhm_linkus ul {
	text-align: left;
	margin: 10px 10px 0;
	padding: 0;
}
.dhm_linkus ul li {
	border-bottom: 1px dashed #333333;
	margin: 0 0 10px 0;
	padding: 0 0 0 5px;
}
.dhm_linkus ul li h3 {
	font-size: 12px;
	margin-bottom: 3px;
	color: #DB0707;
}
.dhm_linkus ul li p {
	margin: 0 0 5px 0;
}
.dhm_linkus .dm_favorite {
	padding: 0 0 10px 0;
}

/* left-ÈÈÂô±¦±´ */
.dhm_remai {
	padding: 15px 0 0 0;
}
.dmh_g1 ul li {
	width: 171px;
	margin: 0 auto 20px;
	text-align: center;
}
.dmh_g1 ul li .pic {
	width: 150px;
	height: 183px;
	overflow: hidden;
	text-align: left;
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2cLCeXi8XXXXXXXXX_!!446388887.gif) no-repeat;
	padding: 18px 0 0 21px;
}
.dmh_g1 ul li .pic img {
	width: 130px;
	height: 164px;
}
.dmh_g1 ul li .desc {
	height: 40px;
	margin: 5px 0 0 0;
	overflow: hidden;
	line-height: 20px;
}
.dmh_g1 ul li .desc a {
	color: #297DC6;
	display: block;
}
.dmh_g1 ul li .desc a:hover {
	color: #f00;
}
.dmh_g1 ul li .price {
	color: #297DC6;
	font-weight: bold;
	padding: 5px 0 0 0;
}

/* right-µêÆÌ¹«¸æ */
.dhm_gg {
    line-height: 22px;
    margin: 10px auto;
	width: 170px;
}
.dhm_gg marquee {
	height: 150px;
    overflow: hidden;
    width: 170px;
}

/* right-Í¼Æ¬ÂÖ»» */
.dm_table_slide {
	width: 750px;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.dm_table_slide ul.ks-switchable-content {
	position: absolute;
	left: 0;
	top: 0;
}
.dm_table_slide ul.ks-switchable-content li {
	width: 645px;
	height: 400px;
	overflow: hidden;
}
.dm_table_slide ul.ks-switchable-content li .pic img {
	width: 645px;
	height: 400px;
}
.dm_table_slide ul.ks-switchable-nav {
	position: absolute;
	right: 0;
	top: 0;
	width: 95px;
	height: 400px;
	overflow: hidden;
}
.dm_table_slide ul.ks-switchable-nav li {
	margin: 0 0 8px;
}
.dm_table_slide ul.ks-switchable-nav li img {
	width: 90px;
	height: 90px;
}
.dm_table_slide ul.ks-switchable-nav li a {
	display: block;
	width: 90px;
	height: 90px;
	overflow: hidden;
	border: 2px solid #CCF5FE;
}
.dm_table_slide ul.ks-switchable-nav li a:hover,
.dm_table_slide ul.ks-switchable-nav li.ks-active a {
	border: 2px solid #84C258;
}

/* right-ÈÈÂô±¦±´ */
.dhm_re_remai ul li {
	float: left;
	width: 229px;
	margin-right: 15px;
}
.dhm_re_remai ul li .pic {
	background: url(http://img01.taobaocdn.com/imgextra/i1/446388887/T2ZfCeXh4XXXXXXXXX_!!446388887.jpg) no-repeat;
    height: 241px;
    overflow: hidden;
    text-align: left;
    width: 199px;
	padding: 30px 0 0 30px;
}
.dhm_re_remai ul li .pic img {
	height: 211px;
    width: 166px;
}

/* ÐÂÆ·-ÅÅÐÐ°ñ */
.dm_accordion_valign .ks-switchable-trigger {
	height: 30px;
	line-height: 30px;
	width: 190px;
	overflow: hidden;
	background: #151515;
	margin: 0 0 3px 0;
	text-align: center;
}
.dm_accordion_valign .ks-switchable-trigger span {
	display: none;
}
.dm_accordion_valign .ks-switchable-trigger a {
	color: #B9B6B6;
}
.dm_accordion_valign .ks-active {
	background: #430101;
}
.dm_accordion_valign .ks-switchable-panel img {
	width: 160px;
	height: 160px;	
}
.dm_accordion_valign .ks-switchable-panel a {
	display: block;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border: 1px solid #C1BFBF;
	margin: 10px auto;
}
.dm_accordion_valign .ks-switchable-panel a:hover {
	border: 1px solid #BE0505;
}



.dm_le_tujian {
	padding: 15px 0 0 13px;
}

/* Èý¸ö×¨Çø */
.dhm_sgzq {
	height: 76px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2IiSgXkNaXXXXXXXX_!!446388887.jpg) no-repeat;
	padding: 110px 0 0 0;
}
.dhm_sgzq .new,
.dhm_sgzq .discount,
.dhm_sgzq .favorite {
	width: 210px;
	height: 45px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	overflow: hidden;
	color: #9F9B9B;
	float: left;
}
.dhm_sgzq .new {
	padding: 0 0 0 30px;
}
.dhm_sgzq .discount {
	padding: 0 40px 0 35px;
}

/* ¹Ø¼ü´Ê */
.dhm_keywords {
	padding: 10px 0 0;
	background: #000;
	margin: 10px auto;
}
.dhm_keywords dl {
	margin: 0 0 10px 0;
	position: relative;
	height: 33px;
	padding: 2px 0 0 0;
}
.dhm_keywords dl dt {
	position: absolute;
	left: 0;
	top: 0;
	width: 170px;
	height: 35px;
	line-height: 35px;
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2Ci9gXeNaXXXXXXXX_!!446388887.jpg) no-repeat;
	text-align: center;
}
.dhm_keywords dl dt a {
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.dhm_keywords dl dd {
	margin: 0 0 0 180px;
	width: 560px;
	height: 31px;
	line-height: 31px;
	background: #151515;
	overflow: hidden;
}
.dhm_keywords dl dd a {
	border-right: 1px solid #a5a5a5;
	padding: 0 10px;
}

/* ÕòµêÖ®±¦ */
.dm-carousel {
	position: relative;
	width: 750px;
	height: 450px;
	overflow: hidden;
	background: #000;
}
.dm-carousel a.btn-prev {
	display: block;
	width: 14px;
	height: 55px;
	overflow: hidden;
	background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2T5GgXXtbXXXXXXXX_!!446388887.jpg) no-repeat 0 0;
	position: absolute;
	left: 25px;
	top: 360px;
	cursor: pointer;
	z-index: 9999;
}
.dm-carousel a.btn-next {
	display: block;
	width: 14px;
	height: 55px;
	overflow: hidden;
	background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2TOGgXXtbXXXXXXXX_!!446388887.jpg) no-repeat 0 0;
	position: absolute;
	left: 314px;
	top: 360px;
	cursor: pointer;
	z-index: 9999;
}
.dm-carousel .dm-box  {
	width: 670px;
	height: 365px;
	overflow: hidden;
	position: relative;
	left: 25px;
	top: 20px;
}
.dm-carousel .dm-box .ks-switchable-content li {
	width: 700px;
	height: 365px;
	overflow: hidden;
}
.dm-carousel .dm-box .ks-switchable-content li .pic {
	float: left;
}
.dm-carousel .dm-box .ks-switchable-content li .pic img {
	width: 300px;
	height: 300px;
}
.dm-carousel .dm-box .ks-switchable-content li .pic a {
	display: block;
	width: 300px;
	height: 300px;
	overflow: hidden;
	border: 2px solid #CCCCCC;
}
.dm-carousel .dm-box .ks-switchable-content li .pic a:hover {
	border: 2px solid #BE0505;
}
.dm-carousel .dm-box .ks-switchable-content li .info {
	width: 365px;
	height: 365px;
	background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2a5WgXjVaXXXXXXXX_!!446388887.jpg) no-repeat;
	overflow: hidden;
	float: right;
}
.dm-carousel .dm-box .ks-switchable-content li .info .title {
	height: 65px;
    margin: 0 0 0 40px;
    overflow: hidden;
    width: 295px;
}
.dm-carousel .dm-box .ks-switchable-content li .info .title a {
	color: #A4A2A2;
	font-weight: bold;
	font-size: 18px;
}
.dm-carousel .dm-box .ks-switchable-content li .info .title a:hover {
	text-decoration: underline;
}
.dm-carousel .dm-box .ks-switchable-content li .info .detail {
	padding: 7px 0 0 90px;
}
.dm-carousel .dm-box .ks-switchable-content li .info .detail p {
	color: #FFFFFF;
    font-weight: bold;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    width: 245px;
}
.dm-carousel .dm-box .ks-switchable-content li .info .price {
	padding: 30px 0 0 40px;
}
.dm-carousel .dm-box .ks-switchable-content li .info .price a {
	display: block;
	width: 260px;
	height: 80px;
	line-height: 80px;
	padding: 0;
	overflow: hidden;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	text-indent: 10px;
}
.dm-carousel .dm-box .ks-switchable-content li .info .price a:hover {
	text-decoration: underline;
}

.dm-carousel .ks-switchable-nav {
	position: absolute;
	left: 25px;
	top: 337px;
	padding: 10px 0 10px 15px;
	background: #151515;
}
.dm-carousel .ks-switchable-nav li  {
	float: left;
	margin: 0 14px 0 0;
	position: relative;
}
.dm-carousel .ks-switchable-nav li img {
	display: block;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	width: 80px;
	height: 80px;
}
.dm-carousel .ks-switchable-nav li.ks-active img  {
	border: 1px solid #7E0000;
}


.dm_slide_num {
	position: relative;
	width: 750px;
	height: 450px;
	overflow: hidden;
}
.dm_slide_num .ks-switchable-nav {
	position: absolute;
	bottom: 15px;
	right: 15px;
	z-index: 99;
}
.dm_slide_num .ks-switchable-nav li {
	float: left;
	width: 25px;
	height: 25px;
	line-height: 25px;
	margin-left: 10px;
	background: #999999;
	color: #fff;
	text-align: center;
	border: 1px solid #fff;
	cursor: pointer;
}
.dm_slide_num .ks-switchable-nav li.ks-active {
	background: none;
	border: 1px solid #fff;
	color: #fff;
	font-weight: bold;
}
.dm_slide_num .ks-switchable-content li {
	width: 750px;
	height: 450px;
	overflow: hidden;
}
.dm_slide_num .ks-switchable-content li  img{
	width: 750px;
	height: 450px;
}

.dhm_fzb {
	background: #fff;
}
.dhm_banner {
	height: 450px;
	overflow: hidden;
	margin-bottom: 10px;
}