<div class="sgbb">
	<table width="950">
		<tbody>
			<tr>
				<td colspan="9" width="950" height="40" class="main_title">You may also be insterested in......</td>
			</tr>
			<tr>
				<td width="14" height="170"></td>
				<td width="220" height="170">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝1】的购买页地址'}]">
						<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T22R0VXbJcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝1】的图片地址，尺寸大小为110X165'}]">
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝1】的标题'}]">在此输入您的宝贝标题</div>
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝1】的价格'}]">￥ 53.00</div>
					</a>
				</td>
				<td width="14" height="170"></td>
				<td width="220" height="170">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝2】的购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T23_NVXe4cXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝2】的图片地址，尺寸大小为110X165'}]">
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝2】的标题'}]">在此输入您的宝贝标题</div>
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝2】的价格'}]">￥ 53.00</div>
					</a>
				</td>
				<td width="14" height="170"></td>
				<td width="220" height="170">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝3】的购买页地址'}]">
						<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2QZh9XeVbXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝3】的图片地址，尺寸大小为110X165'}]">
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝3】的标题'}]">在此输入您的宝贝标题</div>
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝3】的价格'}]">￥ 53.00</div>
					</a>
				</td>
				<td width="14" height="170"></td>
				<td width="220" height="170">
					<a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝4】的购买页地址'}]">
						<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2rSdVXotbXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'【宝贝4】的图片地址，尺寸大小为110X165'}]">
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝4】的标题'}]">在此输入您的宝贝标题</div>
						<div data-attr-replace="[{'type':'innerHTML', 'desc':'【宝贝4】的价格'}]">￥ 53.00</div>
					</a>
				</td>
				<td width="14" height="170"></td>
			</tr>
		</tbody>
	</table>
</div>