<div class="J_TWidget m_slide_banner_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
    <ul class="ks-switchable-content">
        <li>
            <a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank"
            data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝购买页地址★★★'}]">
                <img src="http://img04.taobaocdn.com/imgextra/i4/T18sYdXlBgXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【1】的图片地址，尺寸大小为190x450★★★'}]">
            </a>
            <p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【1】的宝贝标题★★★'}]">
                潮流春装
            </p>
        </li>
        <li>
            <a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank"
            data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝购买页地址★★★'}]">
                <img src="http://img04.taobaocdn.com/imgextra/i4/T18sYdXlBgXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【2】的图片地址，尺寸大小为190x450★★★'}]">
            </a>
            <p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【2】的宝贝标题★★★'}]">
                潮流夏装
            </p>
        </li>
        <li>
            <a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank"
            data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝购买页地址★★★'}]">
                <img src="http://img04.taobaocdn.com/imgextra/i4/T18sYdXlBgXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【3】的图片地址，尺寸大小为190x450★★★'}]">
            </a>
            <p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【3】的宝贝标题★★★'}]">
                潮流秋装
            </p>
        </li>
        <li>
            <a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank"
            data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝购买页地址★★★'}]">
                <img src="http://img04.taobaocdn.com/imgextra/i4/T18sYdXlBgXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播图片【4】的图片地址，尺寸大小为190x450★★★'}]">
            </a>
            <p data-attr-replace="[{'type':'href', 'desc':'★★★轮播图片【4】的宝贝标题★★★'}]">
                潮流冬装
            </p>
        </li>
    </ul>
</div>
<div style="margin: 10px 0;">
    <table style="border-spacing:8px;" width="100%">
        <tbody>
            <tr>
                <td>
                    <img src="http://img01.taobaocdn.com/imgextra/i1/T1m8reXnVbXXcpU0s2-446388887.jpg"
                    alt="">
                </td>
                <td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
                    客服小二：
                </td>
                <td>
                    <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8">
                        <img src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8"
                        alt="点这里给我发消息" border="0">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
                    客服小二：
                </td>
                <td>
                    <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8">
                        <img src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8"
                        alt="点这里给我发消息" border="0">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
                    客服小二：
                </td>
                <td>
                    <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8">
                        <img src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8"
                        alt="点这里给我发消息" border="0">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <br>
                </td>
                <td data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
                    客服小二：
                </td>
                <td>
                    <a target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid=xxxx&siteid=cntaobao&status=1&charset=utf-8">
                        <img src="http://amos.alicdn.com/online.aw?v=2&uid=xxxx&site=cntaobao&s=1&charset=utf-8"
                        alt="点这里给我发消息" border="0">
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="http://img01.taobaocdn.com/imgextra/i1/T1m8reXnVbXXcpU0s2-446388887.jpg"
                    alt="">
                </td>
                <td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
                    电话：13333333333
                </td>
            </tr>
            <tr>
                <td>
                    <img src="http://img01.taobaocdn.com/imgextra/i1/T1m8reXnVbXXcpU0s2-446388887.jpg"
                    alt="">
                </td>
                <td colspan="2" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改文字'}]">
                    在线：9:00 AM -- 23:00 PM
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001"
    class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign"
    data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]">
        <img src="http://img03.taobaocdn.com/imgextra/i3/T13SbdXkJcXXcpU0s2-446388887.jpg">
    </a>
</div>
<div>
    <div style="margin:10px 0 16px;">
        <img src="http://img04.taobaocdn.com/imgextra/i4/T1uWDeXeRgXXcpU0s2-446388887.jpg">
    </div>
</div>