<div class="qxwall">
	<table width="100%">
		<tbody>
			<tr>
				<td valign="top">
					<div class="text">
						有一把伞雨撑了很久，<br>
						雨停了还不肯收。<br>
						有一束花闻了很久，<br>
						枯萎了也不肯丢。<br>
						有一种友情，<br>
						希望到永远。
					</div>
					<div class="w1">
						<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
							<div><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2WplyXblNXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为200x250'}]"></div>
							<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里输入标题啦~~~</p>
						</a>
					</div>
				</td>
				<td valign="top">
					<div class="w2">
						<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
							<div><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2RchJXbdcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为240x350'}]"></div>
							<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">这里输入标题啦~~~</p>
						</a>
					</div>
					<div class="favo">
						<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]">
						    <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2y9FxXmdMXXXXXXXX_!!446388887.jpg" />
						</a>
					</div>	
				</td>
				<td valign="top">
					<div class="w3">
						<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]">
							<div><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lNVzXX0NXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为300x200'}]"></div>
							<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">这里输入标题啦~~~</p>
						</a>
					</div>
					<div class="w4">
						<a href="http://item.taobao.com/item.htm?id=16496512683" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]">
							<div><img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2ybNJXo8bXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为300x200'}]"></div>
							<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的标题'}]">这里输入标题啦~~~</p>
						</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>