<div class="dhgg">
	<div class="daohang">
		<div class="keywords">
			<dl>
				<dt>种类</dt>
				<dd>
					<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>
				</dd>
			</dl>
			<dl>
				<dt>性能</dt>
				<dd>
					<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>
				</dd>
			</dl>
			<dl>
				<dt>价格</dt>
				<dd>
					<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>
				</dd>
			</dl>
			<dl>
				<dt>种类</dt>
				<dd>
					<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>|<a href="#">衣服</a>|<a href="#">包包</a>
				</dd>
			</dl>
		</div>
	</div>

	<div class="gg">
		<div class="c_bd">
			<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]">
	            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2MZxHXdFMXXXXXXXX_!!446388887.jpg" />
	        </a>
		</div>
	</div>
</div>