<div class="hm_banner">
	<div class="J_TWidget dm_slide_kapan" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true}">
		<ul class="ks-switchable-content">
	    	<li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸750x390'}]" /></a></li>
	        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸750x390'}]" /></a></li>
	        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸750x390'}]" /></a></li>
	        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸750x390'}]" /></a></li>
	        <li><a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图5]的宝贝购买页地址'}]"><img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2nURkXflNXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图5]的图片地址，图片尺寸750x390'}]" /></a></li>
	    </ul>
	    <div class="hm_line"></div>
	    <ul class="ks-switchable-nav">
	    	<li class="ks-active"><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
	        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
	        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
	        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
	        <li><a target="_blank"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2_6XSXflcXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图5]的图片地址，图片尺寸75x42'}]"><span></span></a></li>
	    </ul>
	</div>
</div>