<div class="dm_carousel_muma J_TWidget" data-widget-type="Carousel" data-widget-config="{'effect':'scrollx', 'prevBtnCls':'btn-prev', 'nextBtnCls':'btn-next'}">
    <div class="dm_muma_container">
        <ul class="ks-switchable-content">
            <li>
                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为170x200'}]"></a></div>
                <div class="desc">
                    
                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
                    <div class="liyou arrow">[推荐理由]</div>
                    <ul>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
                    </ul>
                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">1888</em></div>
                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T24jp2XgVcXXXXXXXX_!!446388887.png" alt=""></a></div>
                </div>
            </li>
            <li>
                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为170x200'}]"></a></div>
                <div class="desc">
                    
                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
                    <div class="liyou arrow">[推荐理由]</div>
                    <ul>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
                    </ul>
                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">222</em></div>
                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T24jp2XgVcXXXXXXXX_!!446388887.png" alt=""></a></div>
                </div>
            </li>
            <li>
                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为170x200'}]"></a></div>
                <div class="desc">
                    
                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
                    <div class="liyou arrow">[推荐理由]</div>
                    <ul>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
                    </ul>
                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">333</em></div>
                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T24jp2XgVcXXXXXXXX_!!446388887.png" alt=""></a></div>
                </div>
            </li>
            <li>
                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为170x200'}]"></a></div>
                <div class="desc">
                    
                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
                    <div class="liyou arrow">[推荐理由]</div>
                    <ul>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
                    </ul>
                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的价格'}]">444</em></div>
                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T24jp2XgVcXXXXXXXX_!!446388887.png" alt=""></a></div>
                </div>
            </li>
            <li>
                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的图片地址，图片尺寸大小为170x200'}]"></a></div>
                <div class="desc">
                    
                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
                    <div class="liyou arrow">[推荐理由]</div>
                    <ul>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
                    </ul>
                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的价格'}]">555</em></div>
                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T24jp2XgVcXXXXXXXX_!!446388887.png" alt=""></a></div>
                </div>
            </li>
            <li>
                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝6的图片地址，图片尺寸大小为170x200'}]"></a></div>
                <div class="desc">
                    
                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
                    <div class="liyou arrow">[推荐理由]</div>
                    <ul>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
                    </ul>
                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝6的价格'}]">666</em></div>
                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝6的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T24jp2XgVcXXXXXXXX_!!446388887.png" alt=""></a></div>
                </div>
            </li>
            <li>
                <div class="pic"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝7的图片地址，图片尺寸大小为170x200'}]"></a></div>
                <div class="desc">
                    
                    <div class="title arrow"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的标题'}]">请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题 请输入您的宝贝标题</a></div>
                    <div class="liyou arrow">[推荐理由]</div>
                    <ul>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的推荐理由1'}]">新品上市，潮流款式，精彩不断</li>
                        <li data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的推荐理由2'}]">丰富色彩，完美画质，绝对经典</li>
                    </ul>
                    <div class="price">RMB：<em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝7的价格'}]">777</em></div>
                    <div class="buy"><a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝7的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T24jp2XgVcXXXXXXXX_!!446388887.png" alt=""></a></div>
                </div>
            </li>
        </ul>
    </div>
    
    <ul class="ks-switchable-nav">
        <li class="ks-active">
            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为85x85'}]" />
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为85x85'}]" />
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为85x85'}]" />
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝4]的图片地址，大小尺寸为85x85'}]" />
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝5]的图片地址，大小尺寸为85x85'}]" />
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝6]的图片地址，大小尺寸为85x85'}]" />
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝7]的图片地址，大小尺寸为85x85'}]" />
        </li>
    </ul>
</div>