<div class="hm_bottom">
	<table width="100%">
		<tbody>
			<tr height="140">
				<td width="145" valign="top">
					<div style="padding: 60px 0 0 30px;">
						<table width="100%">
							<tbody>
								<tr>
									<td height="23"><a href="#" target="_blank">&gt; 掌柜说</a></td>
								</tr>
								<tr>
									<td height="23"><a href="#" target="_blank">&gt; 关注帮派</a></td>
								</tr>
								<tr>
									<td height="23"><a href="#" target="_blank">&gt; 联系方式</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td width="220" valign="top">
					<div style="padding: 60px 0 0 35px;">
						<table width="100%">
							<tbody>
								<tr>
									<td height="23">&gt; 七天无理由退换货</td>
								</tr>
								<tr>
									<td height="23">&gt; 现货48小时内发货</td>
								</tr>
								<tr>
									<td height="23">&gt; 商品均为100%实物拍摄</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td width="165" valign="top">
					<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign hm_shoucang" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]"></a>
				</td>
				<td width="220" valign="top">
					<div style="padding: 60px 10px 0 25px;">
						<table width="100%">
							<tbody>
								<tr>
									<td><h3>09：00-23：00</h3></td>
								</tr>
								<tr>
									<td>因周末进货原因，我们除双休日外都在线，请随时旺旺我们！</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr height="43">
				<td colspan="3" width="580" align="center" valign="middle">
					<a href="#" target="_blank">首页</a> | 
					<a href="#" target="_blank">购买须知</a> | 
					<a href="#" target="_blank">购买流程</a> | 
					<a href="#" target="_blank">常见问题</a> | 
					<a href="#" target="_blank">关于我们</a> | 
					<a href="#" target="_blank">如何查件</a> | 
					<a href="#" target="_blank">品牌故事</a> | 
					<a href="#" target="_blank">会员专区</a>
				</td>
				<td width="170"><a href="#" class="hm_top"></a></td>
			</tr>
		</tbody>
	</table>
</div>