<div class="fkrm_l">
	<div class="c_hd"></div>

	<div class="c_bd">
		<ul>
			<li>
				<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
					<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2StatXehaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为170x200'}]">
					<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">大黑马设计祝您工作愉快，宝贝大卖。</p>
					<span>RMB: <em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">1999</em></span>
				</a>
			</li>
			<li>
				<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2RdatXe4aXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为170x200'}]">
					<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">大黑马设计祝您工作愉快，宝贝大卖。</p>
					<span>RMB: <em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">1999</em></span>
				</a>
			</li>
			<li>
				<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]">
					<img src="http://img03.taobaocdn.com/imgextra/i3/446388887/T2StatXehaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为170x200'}]">
					<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">大黑马设计祝您工作愉快，宝贝大卖。</p>
					<span>RMB: <em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">1999</em></span>
				</a>
			</li>
		</ul>
	</div>
</div>