<div class="lgbb">
	<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为190x190'}]"></a>
	<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]"><img src="http://img01.taobaocdn.com/imgextra/i1/446388887/T2lJitXcVaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为190x190'}]"></a>
</div>