<div class="J_TWidget dm_table_slide dm_custom_area" data-widget-type="Slide" data-widget-config="{'effect':'fade', 'autoplay':true}">
	<ul class="ks-switchable-content">
    	<li>
			<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为350x350'}]">
				<div class="dec">
					<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">大黑马祝您工作顺利财源滚滚</p>
					<span>RMB: <em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">300</em></span>
				</div>
			</a>
        </li>
        <li>
			<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为350x350'}]">
				<div class="dec">
					<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">大黑马祝您工作顺利财源滚滚</p>
					<span>RMB: <em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">3999</em></span>
				</div>
			</a>
        </li>
        <li>
			<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]">
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为350x350'}]">
				<div class="dec">
					<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">大黑马祝您工作顺利财源滚滚</p>
					<span>RMB: <em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">3699</em></span>
				</div>
			</a>
        </li>
        <li>
			<a href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]">
				<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" alt="" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为350x350'}]">
				<div class="dec">
					<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的标题'}]">大黑马祝您工作顺利财源滚滚</p>
					<span>RMB: <em data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的价格'}]">6999</em></span>
				</div>
			</a>
        </li>
    </ul>
    
    <ul class="ks-switchable-nav">
    	<li class="ks-active one">
        	<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝1】的点击链接'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'【宝贝1】的图片地址，尺寸大小为190x190'}]" /></a>
        </li>
        <li class="two">
        	<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝2】的点击链接'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'【宝贝2】的图片地址，尺寸大小为190x190'}]" /></a>
        </li>
        <li class="three">
       		<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝3】的点击链接'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'【宝贝3】的图片地址，尺寸大小为190x190'}]" /></a>
        </li>
        <li class="four">
        	<a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'【宝贝4】的点击链接'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20tatXcBaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'【宝贝4】的图片地址，尺寸大小为190x190'}]" /></a>
        </li>
    </ul>
</div>