<div class="grid" style="height: 847px;">
<ul class="shop-list">
<li>
<div class="item">
<div class="pic">
<a href="http://item.taobao.com/item.htm?id=17626864461" target="_blank">
<img src="http://img04.taobaocdn.com/bao/uploaded/i4/T1fZ5pXldYXXcW5esZ_032125.jpg_160x160.jpg">
</a>
</div>
<div class="desc">
<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=17626864461" target="_blank"> 包邮 2012夏装新款韩版女装 长款白色打底衫大码短袖T恤[P81806] </a>
</div>
<div class="price">
<div class="now">
<span>一口价</span>
<strong>56.00元</strong></div>
</div>
</div>
</li>
<li>
<div class="item">
<div class="pic">
<a href="http://item.taobao.com/item.htm?id=17626844594" target="_blank">
<img src="http://img04.taobaocdn.com/bao/uploaded/i8/T1UoGoXcd9XXaa26kZ_032738.jpg_160x160.jpg">
</a>
</div>
<div class="desc">
<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=17626844594" target="_blank"> 包邮 2012夏装新款 宽松显瘦 修身蝙蝠袖 中长款短袖T恤[Q76258] </a>
</div>
<div class="price">
<div class="now">
<span>一口价</span>
<strong>59.00元</strong></div>
</div>
</div>
</li>
<li>
<div class="item">
<div class="pic">
<a href="http://item.taobao.com/item.htm?id=17626836606" target="_blank">
<img src="http://img03.taobaocdn.com/bao/uploaded/i7/T1dtapXlNWXXbUFKMZ_031852.jpg_160x160.jpg">
</a>
</div>
<div class="desc">
<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=17626836606" target="_blank"> 包邮 大版夏装新款2012潮女装显瘦 长款大码宽松蝙蝠T恤[P58290] </a>
</div>
<div class="price">
<div class="now">
<span>一口价</span>
<strong>56.00元</strong></div>
</div>
</div>
</li>
</ul>
<p class="more-items">
<a class="button" href="http://heyma-design.taobao.com//search.htm?fromSearchMore=y&amp;keyword=&amp;picSize=160x160&amp;orderType=null&amp;scid=&amp;oldnew=&amp;price2=&amp;price1=">更多宝贝</a>
</p>
</div>