<div style="border: 1px solid #A0D537; overflow: hidden;">
	<div>
		<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2IUKrXX4aXXXXXXXX_!!446388887.jpg" />
	</div>
	<div class="dm_le_tujian">
		<div class="dm_list dm_list160">
			<ul class="cf">
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Yi1gXhdaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的图片地址，图片尺寸大小为160X160'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price"><strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的价格'}]">8999.00</strong></div>
				</li>
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2ey1gXidaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的图片地址，图片尺寸大小为160X160'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price"><strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的价格'}]">8999.00</strong></div>
				</li>
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Yi1gXhdaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝3的图片地址，图片尺寸大小为160X160'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝3的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price"><strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝3的价格'}]">8999.00</strong></div>
				</li>
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2ey1gXidaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝4的图片地址，图片尺寸大小为160X160'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝4的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price"><strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝4的价格'}]">8999.00</strong></div>
				</li>
				<li>
					<div class="pic"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}]"><img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T2Yi1gXhdaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝5的图片地址，图片尺寸大小为160X160'}]" /></a></div>
					<div class="desc"><a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝5的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的标题'}]">这里是标题 最多只能显示两行 这里是标题 最多只能显示两行 这里是标题 最多只能显示两行</a></div>
					<div class="price"><strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝5的价格'}]">8999.00</strong></div>
				</li>
			</ul>
		</div>
	</div>	
</div>