<div class="grid">
	<ul class="shop-list">
		<li>
			<div class="item">
				<div class="pic">
					<a href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝1的购买页地址'}]">
						<img src="http://img04.taobaocdn.com/bao/uploaded/i4/T1S255Xo4nXXan_T.9_104731.jpg_160x160.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝1的图片地址，图片尺寸大小为160X160'}]">
					</a>
				</div>
				<div class="desc">
					<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=16496516116" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝热卖贝1的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的标题'}]"> 宝贝描述设计(测试)宝贝描述设计(测试)宝贝描述设计(测试) </a>
				</div>
				<div class="price">
					<div class="now">
						<span>一口价</span>
						<strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝1的价格'}]">200.00元</strong>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="item">
				<div class="pic">
					<a href="http://item.taobao.com/item.htm?id=16496512683" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 热卖宝贝2的购买页地址'}]">
						<img src="http://img02.taobaocdn.com/bao/uploaded/i2/T1Gxa5XidlXXX_pCo9_104508.jpg_160x160.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 热卖宝贝2的图片地址，图片尺寸大小为160X160'}]">
					</a>
				</div>
				<div class="desc">
					<a style="" class="permalink" href="http://item.taobao.com/item.htm?id=16496512683" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝热卖贝2的购买页地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的标题'}]"> 宝贝描述设计(测试) </a>
				</div>
				<div class="price">
					<div class="now">
						<span>一口价</span>
						<strong data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 热卖宝贝2的价格'}]">600.00元</strong>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>