<table width="100%">
	<tbody>
		<tr>
			<td style="height: 43px; line-height: 42px; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2oJxrXaJNXXXXXXXX_!!446388887.jpg) repeat-x;">
				<div style="background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2nHNuXfVNXXXXXXXX_!!446388887.jpg) no-repeat right top; text-indent: 15px; color: #fff; font-weight: bold; font-size: 16px;">
					宝贝详情
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
		<tr>
			<td style="height: 43px; line-height: 42px; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2oJxrXaJNXXXXXXXX_!!446388887.jpg) repeat-x;">
				<div style="background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2nHNuXfVNXXXXXXXX_!!446388887.jpg) no-repeat right top; text-indent: 15px; color: #fff; font-weight: bold; font-size: 16px;">
					温馨提示
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
		<tr>
			<td style="height: 43px; line-height: 42px; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2oJxrXaJNXXXXXXXX_!!446388887.jpg) repeat-x;">
				<div style="background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2nHNuXfVNXXXXXXXX_!!446388887.jpg) no-repeat right top; text-indent: 15px; color: #fff; font-weight: bold; font-size: 16px;">
					邮资说明
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
		<tr>
			<td style="height: 43px; line-height: 42px; background: url(http://img04.taobaocdn.com/imgextra/i4/446388887/T2oJxrXaJNXXXXXXXX_!!446388887.jpg) repeat-x;">
				<div style="background: url(http://img03.taobaocdn.com/imgextra/i3/446388887/T2nHNuXfVNXXXXXXXX_!!446388887.jpg) no-repeat right top; text-indent: 15px; color: #fff; font-weight: bold; font-size: 16px;">
					其他说明
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div style="padding: 15px;">
					在此编辑内容
				</div>
			</td>
		</tr>
	</tbody>
</table>