<div class="J_TWidget dm_slide_kapan" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true}">
    <ul class="ks-switchable-content">
        <li>
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}]">
                <img src="http://img02.taobaocdn.com/imgextra/i2/T1tvLdXohfXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图1]的图片地址，图片尺寸750x450'}]">
            </a>
        </li>
        <li>
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}]">
                <img src="http://img02.taobaocdn.com/imgextra/i2/T1tvLdXohfXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图2]的图片地址，图片尺寸750x450'}]">
            </a>
        </li>
        <li>
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}]">
                <img src="http://img02.taobaocdn.com/imgextra/i2/T1tvLdXohfXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图3]的图片地址，图片尺寸750x450'}]">
            </a>
        </li>
        <li>
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}]">
                <img src="http://img02.taobaocdn.com/imgextra/i2/T1tvLdXohfXXcpU0s2-446388887.jpg"
                data-attr-replace="[{'type':'src', 'desc':'★★★轮播[大图4]的图片地址，图片尺寸750x450'}]">
            </a>
        </li>
    </ul>
    <ul class="ks-switchable-nav">
        <li class="ks-active">
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图1]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图1]的文字标题'}]">
                标题1，大图尺寸为750x450
            </a>
        </li>
        <li>
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图2]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图2]的文字标题'}]">
                标题2，大图尺寸为750x450
            </a>
        </li>
        <li>
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图3]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图3]的文字标题'}]">
                标题3，大图尺寸为750x450
            </a>
        </li>
        <li class="last">
            <a href="http://www.taobao.com" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★★★轮播[大图4]的宝贝购买页地址'}, {'type':'innerHTML', 'desc':'★★★轮播[大图4]的文字标题'}]">
                标题4，大图尺寸为750x450
            </a>
        </li>
    </ul>
</div>

<div class="dhgg" style="margin: 10px 0;">
    <div class="daohang">
        <div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
            快速导航
        </div>
        <div class="keywords">
        	<table width="100%">
        		<tbody>
        			<tr>
        				<td align="right" valign="middle" width="90" height="35"><div class="kw_title">按种类分</div></td>
        				<td valign="middle"><a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a></td>
        			</tr>
        			<tr>
        				<td align="right" valign="middle" width="90" height="35"><div class="kw_title">按种类分</div></td>
        				<td valign="middle"><a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a></td>
        			</tr>
        			<tr>
        				<td align="right" valign="middle" width="90" height="35"><div class="kw_title">按种类分</div></td>
        				<td valign="middle"><a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a>|<a href="#" target="_blank">手机</a></td>
        			</tr>
        		</tbody>
        	</table>
        </div>
    </div>
    <div class="gg">
        <div class="c_hd" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改标题'}]">
            公告
        </div>
        <div class="c_bd">
            <marquee direction="up" scrollamount="2" height="130" width="180">
                <font data-attr-replace="[{'type':'innerHTML', 'desc':'★★★修改店铺公告内容'}]">
                    为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！为了保护买家和卖家双方的利益，请买家在收到包裹时务必本人先开箱验货再签收。如发现物品损坏或缺少，请一律拒收退回我司，同时马上联系我们！签收后，买家再提出这些问题，由于网购的特殊性无法查证，恕我们一概不接受不处理。同时请务必留能本人签收验货的地址，家人、朋友、同学、保安、门卫和收发室签收的，一律视同本人签收，谢谢配合！
                </font>
            </marquee>
        </div>
    </div>
</div>
<div class="dm-carousel J_TWidget" data-widget-type="Carousel" data-widget-config="{'effect':'scrollx', 'prevBtnCls':'btn-prev', 'nextBtnCls':'btn-next'}">
    <a class="btn-prev">
    </a>
    <a class="btn-next">
    </a>
    <div class="dm-box">
        <ul class="ks-switchable-content">
            <li>
                <div class="cf">
                    <div class="pic">
                        <a href="http://item.taobao.com/item.htm?id=14278206832">
                            <img src="http://img01.taobaocdn.com/imgextra/i1/T1oLLcXlxdXXcpU0s2-446388887.jpg"
                            alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为380X380'}]">
                        </a>
                    </div>
                    <div class="desc">
                        <div>
                            <img src="http://img03.taobaocdn.com/imgextra/i3/T1HozdXjXcXXcpU0s2-446388887.jpg"
                            alt="">
                        </div>
                        <a href="http://item.taobao.com/item.htm?id=14278206832">
                            <div class="tit" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的标题'}]">
                                这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字
                            </div>
                            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝1]的价格'}]">
                                ￥180
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="cf">
                    <div class="pic">
                        <a href="http://item.taobao.com/item.htm?id=14278206832">
                            <img src="http://img01.taobaocdn.com/imgextra/i1/T1oLLcXlxdXXcpU0s2-446388887.jpg"
                            alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为380X380'}]">
                        </a>
                    </div>
                    <div class="desc">
                        <div>
                            <img src="http://img03.taobaocdn.com/imgextra/i3/T1HozdXjXcXXcpU0s2-446388887.jpg"
                            alt="">
                        </div>
                        <a href="http://item.taobao.com/item.htm?id=14278206832">
                            <div class="tit" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的标题'}]">
                                这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字
                            </div>
                            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝2]的价格'}]">
                                ￥3380
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <div class="cf">
                    <div class="pic">
                        <a href="http://item.taobao.com/item.htm?id=14278206832">
                            <img src="http://img01.taobaocdn.com/imgextra/i1/T1oLLcXlxdXXcpU0s2-446388887.jpg"
                            alt="" data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为380X380'}]">
                        </a>
                    </div>
                    <div class="desc">
                        <div>
                            <img src="http://img03.taobaocdn.com/imgextra/i3/T1HozdXjXcXXcpU0s2-446388887.jpg"
                            alt="">
                        </div>
                        <a href="http://item.taobao.com/item.htm?id=14278206832">
                            <div class="tit" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的标题'}]">
                                这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字 这里是标题 这里是文字
                            </div>
                            <div class="price" data-attr-replace="[{'type':'innerHTML', 'desc':'★★★[宝贝3]的价格'}]">
                                ￥200
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <ul class="ks-switchable-nav">
        <li class="ks-active">
            <img src="http://img01.taobaocdn.com/imgextra/i1/T1oLLcXlxdXXcpU0s2-446388887.jpg"
            data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝1]的图片地址，大小尺寸为80X80'}]">
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/T1oLLcXlxdXXcpU0s2-446388887.jpg"
            data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝2]的图片地址，大小尺寸为80X80'}]">
        </li>
        <li>
            <img src="http://img01.taobaocdn.com/imgextra/i1/T1oLLcXlxdXXcpU0s2-446388887.jpg"
            data-attr-replace="[{'type':'src', 'desc':'★★★[宝贝3]的图片地址，大小尺寸为80X80'}]">
        </li>
    </ul>
</div>
<div class="J_TWidget dm_table_slide dm_custom_area" data-widget-type="Slide"
data-widget-config="{'effect':'fade', 'autoplay':true}" style="margin: 20px 0 10px;">
    <ul class="ks-switchable-content">
        <li>
            <a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝1】的购买页地址'}]">
                <div class="pic">
                    <img src="http://img04.taobaocdn.com/imgextra/i4/T1uGy9XfhsXXcpU0s2-446388887.jpg"
                    alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝1】的大图地址，尺寸大小为350X350'}]">
                </div>
                <div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝1】的标题和价格'}]">
                    这里是宝贝标题和价格 这里是宝贝标题和价格 ￥199元
                </div>
            </a>
        </li>
        <li>
            <a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝2】的购买页地址'}]">
                <div class="pic">
                    <img src="http://img04.taobaocdn.com/imgextra/i4/T1uqy9XfXsXXcpU0s2-446388887.jpg"
                    alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝2】的大图地址，尺寸大小为350X350'}]">
                </div>
                <div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝2】的标题和价格'}]">
                    这里是宝贝标题和价格 这里是宝贝标题和价格 ￥100元
                </div>
            </a>
        </li>
        <li>
            <a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝3】的购买页地址'}]">
                <div class="pic">
                    <img src="http://img04.taobaocdn.com/imgextra/i4/T1uGy9XfhsXXcpU0s2-446388887.jpg"
                    alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝3】的大图地址，尺寸大小为350X350'}]">
                </div>
                <div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝3】的标题和价格'}]">
                    这里是宝贝标题和价格 这里是宝贝标题和价格 ￥399元
                </div>
            </a>
        </li>
        <li>
            <a href="http://item.taobao.com/item.htm?id=16496404801" data-attr-replace="[{'type':'href', 'desc':'跑马灯【宝贝4】的购买页地址'}]">
                <div class="pic">
                    <img src="http://img04.taobaocdn.com/imgextra/i4/T1uqy9XfXsXXcpU0s2-446388887.jpg"
                    alt="" data-attr-replace="[{'type':'src', 'desc':'跑马灯【宝贝4】的大图地址，尺寸大小为350X350'}]">
                </div>
                <div class="desc" data-attr-replace="[{'type':'innerHTML', 'desc':'跑马灯【宝贝4】的标题和价格'}]">
                    这里是宝贝标题和价格 这里是宝贝标题和价格 ￥666元
                </div>
            </a>
        </li>
    </ul>
    <ul class="ks-switchable-nav">
        <li class="ks-active one">
            <img src="http://img04.taobaocdn.com/imgextra/i4/T1uGy9XfhsXXcpU0s2-446388887.jpg"
            data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图1】的图片地址，尺寸大小为190X190'}]">
        </li>
        <li class="two">
            <img src="http://img04.taobaocdn.com/imgextra/i4/T1uqy9XfXsXXcpU0s2-446388887.jpg"
            data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图2】的图片地址，尺寸大小为190X190'}]">
        </li>
        <li class="three">
            <img src="http://img04.taobaocdn.com/imgextra/i4/T1uGy9XfhsXXcpU0s2-446388887.jpg"
            data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图3】的图片地址，尺寸大小为190X190'}]">
        </li>
        <li class="four">
            <img src="http://img04.taobaocdn.com/imgextra/i4/T1uqy9XfXsXXcpU0s2-446388887.jpg"
            data-attr-replace="[{'type':'src', 'desc':'跑马灯【小图4】的图片地址，尺寸大小为190X190'}]">
        </li>
    </ul>
</div>