<div class="dhm_gglh">

	<div  class="J_TWidget scroll-news" data-widget-type="Slide" 
data-widget-config="{'contentCls':'news-items','hasTriggers':false,'effect':'scrolly','easing':'easeOutStrong','interval':3,'duration':0.2}">
		<ul class="news-items">
			<li><a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播文字1的链接地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 轮播文字1的标题'}]">轮播文字在这里啊在这里</a></li>
			<li><a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播文字2的链接地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 轮播文字2的标题'}]">轮播文字在这里啊 hi</a></li>
			<li><a target="_blank" href="#" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播文字3的链接地址'}, {'type':'innerHTML', 'desc':'★ ★ ★ 轮播文字3的标题'}]">轮播文字在这里啊在这里</a></li>
		</ul>
	</div>

	<div class="J_TWidget dm_slide_num" data-widget-type="Slide" data-widget-config="{'effect':'scrollx', 'autoplay':true, 'easing':'easeOutStrong'}">
		<ul class="ks-switchable-content">
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【1】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【1】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【2】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【2】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【3】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【3】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【4】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【4】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
			<li>
				<a href="http://zx.taobao.com/designer_detail.htm?designerId=34526" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 轮播图片【5】的宝贝购买页地址'}]">
					<img src="http://img02.taobaocdn.com/imgextra/i2/446388887/T2yUegXjxaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 轮播图片【5】的图片地址，尺寸大小为685X300'}]" />
				</a>
			</li>
		</ul>
	</div>
</div>