<div class="fdj fdj-left">
	<div class="good a1-le">
		<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的放大前的图片地址，图片尺寸大小为270x270'}]">		
			<div data-widget-config="{
	          'trigger':'.a1-le',
	          'align':{
	                  'node':'.a1-le',
	                  'offset':[0,0],
	                  'points':['cc','cc']
	                  }
	            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
			    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝1的购买页地址'}]">
			       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝1的放大后的图片地址，图片尺寸大小为270x270'}]">
			       <div class="desc">
			       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝1的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
			       </div>
				</a>
			</div>
	</div>
	<div class="good a2-le">
		<img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的放大前的图片地址，图片尺寸大小为270x270'}]">		
			<div data-widget-config="{
	          'trigger':'.a2-le',
	          'align':{
	                  'node':'.a2-le',
	                  'offset':[0,0],
	                  'points':['cc','cc']
	                  }
	            }" data-widget-type="Popup" class="J_TWidget" style="visibility: hidden;">
			    <a href="#" target="_blank" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 宝贝2的购买页地址'}]">
			       <img src="http://img04.taobaocdn.com/imgextra/i4/446388887/T20VCEXgpaXXXXXXXX_!!446388887.jpg" data-attr-replace="[{'type':'src', 'desc':'★ ★ ★ 宝贝2的放大后的图片地址，图片尺寸大小为270x270'}]">
			       <div class="desc">
			       	<p data-attr-replace="[{'type':'innerHTML', 'desc':'★ ★ ★ 宝贝2的标题'}]">祝您生意兴隆，财源滚滚！RMB：168</p>
			       </div>
				</a>
			</div>
	</div>
</div>