<table width="750" height="166" style="background: url(http://img02.taobaocdn.com/imgextra/i2/446388887/T2wulOXc0dXXXXXXXX_!!446388887.jpg) no-repeat;" class="shuoming">
	<tbody>
		<tr>
			<td width="250" height="166">
				<a href="#"></a>
			</td>
			<td width="250" height="166">
				<a target="_blank" href="http://favorite.taobao.com/popup/add_collection.htm?id=62201658&itemid=62201658&itemtype=0&ownerid=54b368e2396017b44d0fdbdf1b492169&scjjc=2&_tb_token_=eafba0eb71001" class="tb-fav J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-attr-replace="[{'type':'href', 'desc':'★ ★ ★ 修改点击收藏的链接地址 ★ ★ ★'}]"></a>
			</td>
			<td width="250" height="166">
				<a href="#"></a>
			</td>
		</tr>
	</tbody>
</table>